<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>Chedescender-cy</key>
    <string>C_hedescender-cy.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Dzhe</key>
    <string>D_zhe.glif</string>
    <key>Ecyr</key>
    <string>E_cyr.glif</string>
    <key>Ef</key>
    <string>E_f.glif</string>
    <key>Esdescendercyr</key>
    <string>E_sdescendercyr.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Ghestroke</key>
    <string>G_hestroke.glif</string>
    <key>Hard</key>
    <string>H_ard.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kadescender</key>
    <string>K_adescender.glif</string>
    <key>Nje</key>
    <string>N_je.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>Pe</key>
    <string>P_e.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>Tse</key>
    <string>T_se.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.rvrn2</key>
    <string>dollar.rvrn2.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>endescender</key>
    <string>endescender.glif</string>
    <key>esdescendercyr</key>
    <string>esdescendercyr.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.lc</key>
    <string>five.lc.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>four.lc</key>
    <string>four.lc.glif</string>
    <key>hard</key>
    <string>hard.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>nine.lc</key>
    <string>nine.lc.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>one.lc</key>
    <string>one.lc.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.lc</key>
    <string>seven.lc.glif</string>
    <key>seven.lf</key>
    <string>seven.lf.glif</string>
    <key>sha</key>
    <string>sha.glif</string>
    <key>shcha</key>
    <string>shcha.glif</string>
    <key>six.lc</key>
    <string>six.lc.glif</string>
    <key>soft</key>
    <string>soft.glif</string>
    <key>tedescender-cy</key>
    <string>tedescender-cy.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.lc</key>
    <string>three.lc.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.lc</key>
    <string>two.lc.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>ve</key>
    <string>ve.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>yu</key>
    <string>yu.glif</string>
    <key>yu.bgr</key>
    <string>yu.bgr.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>zero.lc</key>
    <string>zero.lc.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
  </dict>
</plist>
