<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Be</key>
    <string>B_e.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Dzhe</key>
    <string>D_zhe.glif</string>
    <key>Ecyr</key>
    <string>E_cyr.glif</string>
    <key>Ef</key>
    <string>E_f.glif</string>
    <key>Esdescendercyr</key>
    <string>E_sdescendercyr.glif</string>
    <key>Ghestroke</key>
    <string>G_hestroke.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kadescender</key>
    <string>K_adescender.glif</string>
    <key>Nje</key>
    <string>N_je.glif</string>
    <key>Pe</key>
    <string>P_e.glif</string>
    <key>Sha</key>
    <string>S_ha.glif</string>
    <key>Shcha</key>
    <string>S_hcha.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>Tse</key>
    <string>T_se.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>breve.cyr.case</key>
    <string>breve.cyr.case.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>dollar.rvrn</key>
    <string>dollar.rvrn.glif</string>
    <key>dollar.rvrn2</key>
    <string>dollar.rvrn2.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eight.tab</key>
    <string>eight.tab.glif</string>
    <key>el</key>
    <string>el.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>endescender</key>
    <string>endescender.glif</string>
    <key>esdescendercyr</key>
    <string>esdescendercyr.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>five.tab</key>
    <string>five.tab.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>four.tab</key>
    <string>four.tab.glif</string>
    <key>ghe</key>
    <string>ghe.glif</string>
    <key>hard</key>
    <string>hard.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kadescender</key>
    <string>kadescender.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>nine.tab</key>
    <string>nine.tab.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.tab</key>
    <string>one.tab.glif</string>
    <key>seven.lf</key>
    <string>seven.lf.glif</string>
    <key>seven.tab</key>
    <string>seven.tab.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.tab</key>
    <string>six.tab.glif</string>
    <key>soft</key>
    <string>soft.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.tab</key>
    <string>three.tab.glif</string>
    <key>tse</key>
    <string>tse.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.tab</key>
    <string>two.tab.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>yi</key>
    <string>yi.glif</string>
    <key>yu</key>
    <string>yu.glif</string>
    <key>yu.bgr</key>
    <string>yu.bgr.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
    <key>zero.tab</key>
    <string>zero.tab.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
