<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
