<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>acutecombstack.case</key>
    <string>acutecombstack.case.glif</string>
    <key>engtail</key>
    <string>engtail.glif</string>
    <key>gravecombstack.case</key>
    <string>gravecombstack.case.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
  </dict>
</plist>
