<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Shha</key>
    <string>S_hha.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
  </dict>
</plist>
