<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
  </dict>
</plist>
