<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Shha</key>
    <string>S_hha.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>de.bgr</key>
    <string>de.bgr.glif</string>
    <key>dje</key>
    <string>dje.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>ecyr</key>
    <string>ecyr.glif</string>
    <key>ef</key>
    <string>ef.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>em</key>
    <string>em.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>icyr</key>
    <string>icyr.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>soft</key>
    <string>soft.glif</string>
    <key>soft.bgr</key>
    <string>soft.bgr.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>ve</key>
    <string>ve.glif</string>
    <key>ve.bgr</key>
    <string>ve.bgr.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ya</key>
    <string>ya.glif</string>
    <key>yu</key>
    <string>yu.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
  </dict>
</plist>
