<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>diagonalbaro</key>
    <string>diagonalbaro.glif</string>
    <key>dollar.rvrn</key>
    <string>dollar.rvrn.glif</string>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>five.lc</key>
    <string>five.lc.glif</string>
    <key>four.lc</key>
    <string>four.lc.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>nine.lc</key>
    <string>nine.lc.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>seven.lc</key>
    <string>seven.lc.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>three.lc</key>
    <string>three.lc.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>two.lc</key>
    <string>two.lc.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>zero.lc</key>
    <string>zero.lc.glif</string>
  </dict>
</plist>
