<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>breve</key>
    <string>breve.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>tilde.uc</key>
    <string>tilde.uc.glif</string>
    <key>x</key>
    <string>x.glif</string>
  </dict>
</plist>
