<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>che</key>
    <string>che.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
  </dict>
</plist>
