<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Dzhe</key>
		<string>D_zhe.glif</string>
		<key>Ghestroke</key>
		<string>G_hestroke.glif</string>
		<key>Ka</key>
		<string>K_a.glif</string>
		<key>Pe</key>
		<string>P_e.glif</string>
		<key>Tse</key>
		<string>T_se.glif</string>
		<key>Yu</key>
		<string>Y_u.glif</string>
		<key>breve.cyr.case</key>
		<string>breve.cyr.case.glif</string>
	</dict>
</plist>
