<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Abreveacute</key>
    <string>A_breveacute.glif</string>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif</string>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>Ecircumflexacute</key>
    <string>E_circumflexacute.glif</string>
    <key>Ecircumflexhookabove</key>
    <string>E_circumflexhookabove.glif</string>
    <key>Ecircumflextilde</key>
    <string>E_circumflextilde.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>IJacute</key>
    <string>I_J_acute.glif</string>
    <key>Iacute_J.loclNLD</key>
    <string>I_acute_J_.loclN_L_D_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>Ocircumflexgrave</key>
    <string>O_circumflexgrave.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif</string>
    <key>Odieresismacron</key>
    <string>O_dieresismacron.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Otildemacron</key>
    <string>O_tildemacron.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>abreveacute</key>
    <string>abreveacute.glif</string>
    <key>abrevehookabove</key>
    <string>abrevehookabove.glif</string>
    <key>abrevetilde</key>
    <string>abrevetilde.glif</string>
    <key>acircumflexacute</key>
    <string>acircumflexacute.glif</string>
    <key>acircumflexhookabove</key>
    <string>acircumflexhookabove.glif</string>
    <key>acircumflextilde</key>
    <string>acircumflextilde.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>apostrophemod</key>
    <string>apostrophemod.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>aringacute</key>
    <string>aringacute.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>brevebelowcomb.case</key>
    <string>brevebelowcomb.case.glif</string>
    <key>brevecomb.case</key>
    <string>brevecomb.case.glif</string>
    <key>brevecombstack.case</key>
    <string>brevecombstack.case.glif</string>
    <key>breveinvertedcomb.case</key>
    <string>breveinvertedcomb.case.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>circumflexcombstack.case</key>
    <string>circumflexcombstack.case.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commaaccentcomb.case</key>
    <string>commaaccentcomb.case.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>diagonalbaro</key>
    <string>diagonalbaro.glif</string>
    <key>dieresisbelowcomb</key>
    <string>dieresisbelowcomb.glif</string>
    <key>dieresisbelowcomb.case</key>
    <string>dieresisbelowcomb.case.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>doubleprimemod</key>
    <string>doubleprimemod.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>engn</key>
    <string>engn.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro</key>
    <string>euro.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>franc</key>
    <string>franc.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>hornU</key>
    <string>hornU_.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>hungarumlautcomb.case</key>
    <string>hungarumlautcomb.case.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute_j.loclNLD</key>
    <string>iacute_j.loclN_L_D_.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>leftanglebracket</key>
    <string>leftanglebracket.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macronbelowcomb.case</key>
    <string>macronbelowcomb.case.glif</string>
    <key>macroncomb.case</key>
    <string>macroncomb.case.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif</string>
    <key>odieresismacron</key>
    <string>odieresismacron.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>peseta</key>
    <string>peseta.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rightanglebracket</key>
    <string>rightanglebracket.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecombstack.case</key>
    <string>tildecombstack.case.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>won</key>
    <string>won.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
  </dict>
</plist>
