<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Shha</key>
    <string>S_hha.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>seven.lf</key>
    <string>seven.lf.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>two.tab</key>
    <string>two.tab.glif</string>
  </dict>
</plist>
