<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>1500</integer>
		<key>capHeight</key>
		<integer>1500</integer>
		<key>descender</key>
		<integer>-480</integer>
		<key>familyName</key>
		<string>Amstelvar</string>
		<key>guidelines</key>
		<array>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>yXtfC7gdrt</string>
				<key>x</key>
				<integer>791</integer>
				<key>y</key>
				<integer>1332</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>gwtm1GsGrz</string>
				<key>x</key>
				<integer>402</integer>
				<key>y</key>
				<integer>-70</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>4rZxe03OBP</string>
				<key>x</key>
				<integer>560</integer>
				<key>y</key>
				<integer>-30</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>WDxbVr8AsB</string>
				<key>x</key>
				<integer>608</integer>
				<key>y</key>
				<integer>1520</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>4NibgnjOim</string>
				<key>x</key>
				<integer>596</integer>
				<key>y</key>
				<integer>1500</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>YLO0sn8t3V</string>
				<key>x</key>
				<integer>941</integer>
				<key>y</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>90</integer>
				<key>identifier</key>
				<string>FML2ZOCp8c</string>
				<key>x</key>
				<integer>1108</integer>
				<key>y</key>
				<integer>1927</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>BgG5zmEH44</string>
				<key>x</key>
				<integer>1561</integer>
				<key>y</key>
				<integer>753</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>CRVju2TFxU</string>
				<key>x</key>
				<integer>1764</integer>
				<key>y</key>
				<integer>-338</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>ZxphJURDVF</string>
				<key>x</key>
				<real>956.6507513996</real>
				<key>y</key>
				<real>594.0010670033</real>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>KXXA3GezPZ</string>
				<key>x</key>
				<integer>979</integer>
				<key>y</key>
				<integer>158</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>DjbbXnLi8J</string>
				<key>x</key>
				<integer>294</integer>
				<key>y</key>
				<integer>185</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>y1PmPgjdl2</string>
				<key>x</key>
				<integer>166</integer>
				<key>y</key>
				<integer>150</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>ePVPnBm6K4</string>
				<key>x</key>
				<integer>1552</integer>
				<key>y</key>
				<integer>1302</integer>
			</dict>
			<dict>
				<key>angle</key>
				<integer>0</integer>
				<key>identifier</key>
				<string>5EtM4lpSl1</string>
				<key>x</key>
				<integer>1752</integer>
				<key>y</key>
				<integer>1336</integer>
			</dict>
		</array>
		<key>openTypeOS2WeightClass</key>
		<integer>400</integer>
		<key>openTypeOS2WidthClass</key>
		<integer>5</integer>
		<key>postscriptBlueValues</key>
		<array>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptOtherBlues</key>
		<array>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
		</array>
		<key>styleName</key>
		<string>Roman-opsz8</string>
		<key>unitsPerEm</key>
		<integer>2000</integer>
		<key>versionMajor</key>
		<integer>0</integer>
		<key>versionMinor</key>
		<integer>1</integer>
		<key>xHeight</key>
		<integer>1050</integer>
	</dict>
</plist>
