<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Shha</key>
    <string>S_hha.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
  </dict>
</plist>
