<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>CR</string>
		<string>space</string>
		<string>nbspace</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>onesuperior</string>
		<string>twosuperior</string>
		<string>threesuperior</string>
		<string>foursuperior</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>dollar</string>
		<string>cent</string>
		<string>euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>florin</string>
		<string>franc</string>
		<string>lira</string>
		<string>naira</string>
		<string>peseta</string>
		<string>won</string>
		<string>dong</string>
		<string>kip</string>
		<string>peso</string>
		<string>guarani</string>
		<string>cedi</string>
		<string>rupeeIndian</string>
		<string>liraTurkish</string>
		<string>manat</string>
		<string>ruble</string>
		<string>colonsign</string>
		<string>currency</string>
		<string>colon</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>hyphen</string>
		<string>hyphentwo</string>
		<string>softhyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>quotesingle</string>
		<string>quotedbl</string>
		<string>minute</string>
		<string>second</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>leftanglebracket</string>
		<string>rightanglebracket</string>
		<string>plus</string>
		<string>minus</string>
		<string>plusminus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>approxequal</string>
		<string>less</string>
		<string>greater</string>
		<string>lessequal</string>
		<string>greaterequal</string>
		<string>bulletoperator</string>
		<string>logicalnot</string>
		<string>divisionslash</string>
		<string>slash</string>
		<string>backslash</string>
		<string>fraction</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>commercialMinusSign</string>
		<string>degree</string>
		<string>numbersign</string>
		<string>numero</string>
		<string>asciicircum</string>
		<string>asciitilde</string>
	</array>
</dict>
</plist>
