<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>AEacute</key>
	<string>A_E_acute.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>OE</key>
	<string>O_E_.glif</string>
	<key>Schwa</key>
	<string>S_chwa.glif</string>
	<key>Thorn</key>
	<string>T_horn.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
</dict>
</plist>
