<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Be</key>
    <string>B_e.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Esdescendercyr</key>
    <string>E_sdescendercyr.glif</string>
    <key>Hard</key>
    <string>H_ard.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kaverticalstrokecyr</key>
    <string>K_averticalstrokecyr.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>che.bgr</key>
    <string>che.bgr.glif</string>
    <key>em</key>
    <string>em.glif</string>
    <key>esdescendercyr</key>
    <string>esdescendercyr.glif</string>
    <key>ghe.bgr</key>
    <string>ghe.bgr.glif</string>
    <key>gheup</key>
    <string>gheup.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>sha.bgr</key>
    <string>sha.bgr.glif</string>
    <key>yi</key>
    <string>yi.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhe.bgr</key>
    <string>zhe.bgr.glif</string>
  </dict>
</plist>
