<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
  </dict>
</plist>
