<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>AE_.glif</string>
	<key>AEacute</key>
	<string>AEacute_.glif</string>
	<key>Aacute</key>
	<string>Aacute_.glif</string>
	<key>Abreve</key>
	<string>Abreve_.glif</string>
	<key>Abreveacute</key>
	<string>Abreveacute_.glif</string>
	<key>Abrevedotbelow</key>
	<string>Abrevedotbelow_.glif</string>
	<key>Abrevegrave</key>
	<string>Abrevegrave_.glif</string>
	<key>Abrevehookabove</key>
	<string>Abrevehookabove_.glif</string>
	<key>Abrevetilde</key>
	<string>Abrevetilde_.glif</string>
	<key>Acircumflex</key>
	<string>Acircumflex_.glif</string>
	<key>Acircumflexacute</key>
	<string>Acircumflexacute_.glif</string>
	<key>Acircumflexdotbelow</key>
	<string>Acircumflexdotbelow_.glif</string>
	<key>Acircumflexgrave</key>
	<string>Acircumflexgrave_.glif</string>
	<key>Acircumflexhookabove</key>
	<string>Acircumflexhookabove_.glif</string>
	<key>Acircumflextilde</key>
	<string>Acircumflextilde_.glif</string>
	<key>Adblgrave</key>
	<string>Adblgrave_.glif</string>
	<key>Adieresis</key>
	<string>Adieresis_.glif</string>
	<key>Adotbelow</key>
	<string>Adotbelow_.glif</string>
	<key>Agrave</key>
	<string>Agrave_.glif</string>
	<key>Ahookabove</key>
	<string>Ahookabove_.glif</string>
	<key>Ainvertedbreve</key>
	<string>Ainvertedbreve_.glif</string>
	<key>Amacron</key>
	<string>Amacron_.glif</string>
	<key>Aogonek</key>
	<string>Aogonek_.glif</string>
	<key>Aring</key>
	<string>Aring_.glif</string>
	<key>Aringacute</key>
	<string>Aringacute_.glif</string>
	<key>Atilde</key>
	<string>Atilde_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>Cacute</key>
	<string>Cacute_.glif</string>
	<key>Ccaron</key>
	<string>Ccaron_.glif</string>
	<key>Ccedilla</key>
	<string>Ccedilla_.glif</string>
	<key>Ccircumflex</key>
	<string>Ccircumflex_.glif</string>
	<key>Cdotaccent</key>
	<string>Cdotaccent_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>Dcaron</key>
	<string>Dcaron_.glif</string>
	<key>Dcroat</key>
	<string>Dcroat_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>Eacute</key>
	<string>Eacute_.glif</string>
	<key>Ebreve</key>
	<string>Ebreve_.glif</string>
	<key>Ecaron</key>
	<string>Ecaron_.glif</string>
	<key>Ecircumflex</key>
	<string>Ecircumflex_.glif</string>
	<key>Ecircumflexacute</key>
	<string>Ecircumflexacute_.glif</string>
	<key>Ecircumflexdotbelow</key>
	<string>Ecircumflexdotbelow_.glif</string>
	<key>Ecircumflexgrave</key>
	<string>Ecircumflexgrave_.glif</string>
	<key>Ecircumflexhookabove</key>
	<string>Ecircumflexhookabove_.glif</string>
	<key>Ecircumflextilde</key>
	<string>Ecircumflextilde_.glif</string>
	<key>Edblgrave</key>
	<string>Edblgrave_.glif</string>
	<key>Edieresis</key>
	<string>Edieresis_.glif</string>
	<key>Edotaccent</key>
	<string>Edotaccent_.glif</string>
	<key>Edotbelow</key>
	<string>Edotbelow_.glif</string>
	<key>Egrave</key>
	<string>Egrave_.glif</string>
	<key>Ehookabove</key>
	<string>Ehookabove_.glif</string>
	<key>Einvertedbreve</key>
	<string>Einvertedbreve_.glif</string>
	<key>Emacron</key>
	<string>Emacron_.glif</string>
	<key>Eng</key>
	<string>Eng_.glif</string>
	<key>Eogonek</key>
	<string>Eogonek_.glif</string>
	<key>Eth</key>
	<string>Eth_.glif</string>
	<key>Etilde</key>
	<string>Etilde_.glif</string>
	<key>F</key>
	<string>F_.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>Gbreve</key>
	<string>Gbreve_.glif</string>
	<key>Gcaron</key>
	<string>Gcaron_.glif</string>
	<key>Gcircumflex</key>
	<string>Gcircumflex_.glif</string>
	<key>Gcommaaccent</key>
	<string>Gcommaaccent_.glif</string>
	<key>Gdotaccent</key>
	<string>Gdotaccent_.glif</string>
	<key>Germandbls</key>
	<string>Germandbls_.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>Hbar</key>
	<string>Hbar_.glif</string>
	<key>Hcircumflex</key>
	<string>Hcircumflex_.glif</string>
	<key>I</key>
	<string>I_.glif</string>
	<key>Iacute</key>
	<string>Iacute_.glif</string>
	<key>Ibreve</key>
	<string>Ibreve_.glif</string>
	<key>Icircumflex</key>
	<string>Icircumflex_.glif</string>
	<key>Idblgrave</key>
	<string>Idblgrave_.glif</string>
	<key>Idieresis</key>
	<string>Idieresis_.glif</string>
	<key>Idotaccent</key>
	<string>Idotaccent_.glif</string>
	<key>Idotbelow</key>
	<string>Idotbelow_.glif</string>
	<key>Igrave</key>
	<string>Igrave_.glif</string>
	<key>Ihookabove</key>
	<string>Ihookabove_.glif</string>
	<key>Iinvertedbreve</key>
	<string>Iinvertedbreve_.glif</string>
	<key>Imacron</key>
	<string>Imacron_.glif</string>
	<key>Iogonek</key>
	<string>Iogonek_.glif</string>
	<key>Itilde</key>
	<string>Itilde_.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>Jcircumflex</key>
	<string>Jcircumflex_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>Kcommaaccent</key>
	<string>Kcommaaccent_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>Lacute</key>
	<string>Lacute_.glif</string>
	<key>Lcaron</key>
	<string>Lcaron_.glif</string>
	<key>Lcommaaccent</key>
	<string>Lcommaaccent_.glif</string>
	<key>Ldot</key>
	<string>Ldot_.glif</string>
	<key>Lslash</key>
	<string>Lslash_.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>Nacute</key>
	<string>Nacute_.glif</string>
	<key>Ncaron</key>
	<string>Ncaron_.glif</string>
	<key>Ncommaaccent</key>
	<string>Ncommaaccent_.glif</string>
	<key>Ntilde</key>
	<string>Ntilde_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>OE</key>
	<string>OE_.glif</string>
	<key>Oacute</key>
	<string>Oacute_.glif</string>
	<key>Obreve</key>
	<string>Obreve_.glif</string>
	<key>Ocircumflex</key>
	<string>Ocircumflex_.glif</string>
	<key>Ocircumflexacute</key>
	<string>Ocircumflexacute_.glif</string>
	<key>Ocircumflexdotbelow</key>
	<string>Ocircumflexdotbelow_.glif</string>
	<key>Ocircumflexgrave</key>
	<string>Ocircumflexgrave_.glif</string>
	<key>Ocircumflexhookabove</key>
	<string>Ocircumflexhookabove_.glif</string>
	<key>Ocircumflextilde</key>
	<string>Ocircumflextilde_.glif</string>
	<key>Odblgrave</key>
	<string>Odblgrave_.glif</string>
	<key>Odieresis</key>
	<string>Odieresis_.glif</string>
	<key>Odieresismacron</key>
	<string>Odieresismacron_.glif</string>
	<key>Odotaccentmacron</key>
	<string>Odotaccentmacron_.glif</string>
	<key>Odotbelow</key>
	<string>Odotbelow_.glif</string>
	<key>Ograve</key>
	<string>Ograve_.glif</string>
	<key>Ohookabove</key>
	<string>Ohookabove_.glif</string>
	<key>Ohorn</key>
	<string>Ohorn_.glif</string>
	<key>Ohornacute</key>
	<string>Ohornacute_.glif</string>
	<key>Ohorndotbelow</key>
	<string>Ohorndotbelow_.glif</string>
	<key>Ohorngrave</key>
	<string>Ohorngrave_.glif</string>
	<key>Ohornhookabove</key>
	<string>Ohornhookabove_.glif</string>
	<key>Ohorntilde</key>
	<string>Ohorntilde_.glif</string>
	<key>Ohungarumlaut</key>
	<string>Ohungarumlaut_.glif</string>
	<key>Oinvertedbreve</key>
	<string>Oinvertedbreve_.glif</string>
	<key>Omacron</key>
	<string>Omacron_.glif</string>
	<key>Oogonek</key>
	<string>Oogonek_.glif</string>
	<key>Oslash</key>
	<string>Oslash_.glif</string>
	<key>Oslashacute</key>
	<string>Oslashacute_.glif</string>
	<key>Otilde</key>
	<string>Otilde_.glif</string>
	<key>Otildemacron</key>
	<string>Otildemacron_.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>Q</key>
	<string>Q_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>Racute</key>
	<string>Racute_.glif</string>
	<key>Rcaron</key>
	<string>Rcaron_.glif</string>
	<key>Rcommaaccent</key>
	<string>Rcommaaccent_.glif</string>
	<key>Rdblgrave</key>
	<string>Rdblgrave_.glif</string>
	<key>Rinvertedbreve</key>
	<string>Rinvertedbreve_.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>Sacute</key>
	<string>Sacute_.glif</string>
	<key>Scaron</key>
	<string>Scaron_.glif</string>
	<key>Scedilla</key>
	<string>Scedilla_.glif</string>
	<key>Schwa</key>
	<string>Schwa_.glif</string>
	<key>Scircumflex</key>
	<string>Scircumflex_.glif</string>
	<key>Scommaaccent</key>
	<string>Scommaaccent_.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>Tbar</key>
	<string>Tbar_.glif</string>
	<key>Tcaron</key>
	<string>Tcaron_.glif</string>
	<key>Tcedilla</key>
	<string>Tcedilla_.glif</string>
	<key>Tcommaaccent</key>
	<string>Tcommaaccent_.glif</string>
	<key>Thorn</key>
	<string>Thorn_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uacute</key>
	<string>Uacute_.glif</string>
	<key>Ubreve</key>
	<string>Ubreve_.glif</string>
	<key>Ucircumflex</key>
	<string>Ucircumflex_.glif</string>
	<key>Udblgrave</key>
	<string>Udblgrave_.glif</string>
	<key>Udieresis</key>
	<string>Udieresis_.glif</string>
	<key>Udotbelow</key>
	<string>Udotbelow_.glif</string>
	<key>Ugrave</key>
	<string>Ugrave_.glif</string>
	<key>Uhookabove</key>
	<string>Uhookabove_.glif</string>
	<key>Uhorn</key>
	<string>Uhorn_.glif</string>
	<key>Uhornacute</key>
	<string>Uhornacute_.glif</string>
	<key>Uhorndotbelow</key>
	<string>Uhorndotbelow_.glif</string>
	<key>Uhorngrave</key>
	<string>Uhorngrave_.glif</string>
	<key>Uhornhookabove</key>
	<string>Uhornhookabove_.glif</string>
	<key>Uhorntilde</key>
	<string>Uhorntilde_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Uinvertedbreve</key>
	<string>Uinvertedbreve_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>Utilde</key>
	<string>Utilde_.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>Wacute</key>
	<string>Wacute_.glif</string>
	<key>Wcircumflex</key>
	<string>Wcircumflex_.glif</string>
	<key>Wdieresis</key>
	<string>Wdieresis_.glif</string>
	<key>Wgrave</key>
	<string>Wgrave_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ycircumflex</key>
	<string>Ycircumflex_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ydotbelow</key>
	<string>Ydotbelow_.glif</string>
	<key>Ygrave</key>
	<string>Ygrave_.glif</string>
	<key>Yhookabove</key>
	<string>Yhookabove_.glif</string>
	<key>Ymacron</key>
	<string>Ymacron_.glif</string>
	<key>Ytilde</key>
	<string>Ytilde_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>acute.uc</key>
	<string>acute.uc.glif</string>
	<key>breve.uc</key>
	<string>breve.uc.glif</string>
	<key>breve_acute.uc</key>
	<string>breve_acute.uc.glif</string>
	<key>breve_grave.uc</key>
	<string>breve_grave.uc.glif</string>
	<key>breve_hookabove.uc</key>
	<string>breve_hookabove.uc.glif</string>
	<key>breve_tilde.uc</key>
	<string>breve_tilde.uc.glif</string>
	<key>brevebelow.uc</key>
	<string>brevebelow.uc.glif</string>
	<key>breveinverted.uc</key>
	<string>breveinverted.uc.glif</string>
	<key>caron.alt.uc</key>
	<string>caron.alt.uc.glif</string>
	<key>caron.uc</key>
	<string>caron.uc.glif</string>
	<key>cedilla.uc</key>
	<string>cedilla.uc.glif</string>
	<key>circumflex.uc</key>
	<string>circumflex.uc.glif</string>
	<key>circumflex_acute.uc</key>
	<string>circumflex_acute.uc.glif</string>
	<key>circumflex_grave.uc</key>
	<string>circumflex_grave.uc.glif</string>
	<key>circumflex_hookabove.uc</key>
	<string>circumflex_hookabove.uc.glif</string>
	<key>circumflex_tilde.uc</key>
	<string>circumflex_tilde.uc.glif</string>
	<key>commaaccent.uc</key>
	<string>commaaccent.uc.glif</string>
	<key>commaturnedabove.uc</key>
	<string>commaturnedabove.uc.glif</string>
	<key>dblgrave.uc</key>
	<string>dblgrave.uc.glif</string>
	<key>diagonalbarO</key>
	<string>diagonalbarO_.glif</string>
	<key>diagonalbarl</key>
	<string>diagonalbarl.glif</string>
	<key>dieresis.uc</key>
	<string>dieresis.uc.glif</string>
	<key>dieresis_macron.uc</key>
	<string>dieresis_macron.uc.glif</string>
	<key>dotaccent.uc</key>
	<string>dotaccent.uc.glif</string>
	<key>dotaccent_macron.uc</key>
	<string>dotaccent_macron.uc.glif</string>
	<key>dotbelow.uc</key>
	<string>dotbelow.uc.glif</string>
	<key>engtail</key>
	<string>engtail.glif</string>
	<key>grave.uc</key>
	<string>grave.uc.glif</string>
	<key>hookabove.uc</key>
	<string>hookabove.uc.glif</string>
	<key>horizontalbar</key>
	<string>horizontalbar.glif</string>
	<key>horizontalbarH</key>
	<string>horizontalbarH_.glif</string>
	<key>horn.uc</key>
	<string>horn.uc.glif</string>
	<key>hornU</key>
	<string>hornU_.glif</string>
	<key>hungarumlaut.uc</key>
	<string>hungarumlaut.uc.glif</string>
	<key>macron.uc</key>
	<string>macron.uc.glif</string>
	<key>macronbelow.uc</key>
	<string>macronbelow.uc.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>numero</key>
	<string>numero.glif</string>
	<key>ogonek.uc</key>
	<string>ogonek.uc.glif</string>
	<key>ring.uc</key>
	<string>ring.uc.glif</string>
	<key>ring_acute.uc</key>
	<string>ring_acute.uc.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>strokeshort</key>
	<string>strokeshort.glif</string>
	<key>tilde.uc</key>
	<string>tilde.uc.glif</string>
	<key>tilde_macron.uc</key>
	<string>tilde_macron.uc.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>uinvertedbreve</key>
	<string>uinvertedbreve.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydotbelow</key>
	<string>ydotbelow.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>yhookabove</key>
	<string>yhookabove.glif</string>
	<key>ymacron</key>
	<string>ymacron.glif</string>
	<key>ytilde</key>
	<string>ytilde.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
</dict>
</plist>
