<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>kai-tail</key>
    <string>kai-tail.glif</string>
    <key>three.lc</key>
    <string>three.lc.glif</string>
  </dict>
</plist>
