<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>dblgravecomb</key>
    <string>dblgravecomb.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>five.lc</key>
    <string>five.lc.glif</string>
    <key>four.lc</key>
    <string>four.lc.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>nine.lc</key>
    <string>nine.lc.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>seven.lc</key>
    <string>seven.lc.glif</string>
    <key>six.lc</key>
    <string>six.lc.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>three.lc</key>
    <string>three.lc.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>zero.lc</key>
    <string>zero.lc.glif</string>
  </dict>
</plist>
