<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>engn</key>
    <string>engn.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>hornU</key>
    <string>hornU_.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>seven.lf</key>
    <string>seven.lf.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
  </dict>
</plist>
