<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Che</key>
    <string>C_he.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Ecyr</key>
    <string>E_cyr.glif</string>
    <key>Ef</key>
    <string>E_f.glif</string>
    <key>El</key>
    <string>E_l.glif</string>
    <key>El.bgr</key>
    <string>E_l.bgr.glif</string>
    <key>Icyr</key>
    <string>I_cyr.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kaverticalstrokecyr</key>
    <string>K_averticalstrokecyr.glif</string>
    <key>Lje</key>
    <string>L_je.glif</string>
    <key>Nje</key>
    <string>N_je.glif</string>
    <key>Schwacyr</key>
    <string>S_chwacyr.glif</string>
    <key>Shha</key>
    <string>S_hha.glif</string>
    <key>Soft</key>
    <string>S_oft.glif</string>
    <key>Tshe</key>
    <string>T_she.glif</string>
    <key>Ucyr</key>
    <string>U_cyr.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Yu</key>
    <string>Y_u.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhe.bgr</key>
    <string>Z_he.bgr.glif</string>
    <key>el.bgr</key>
    <string>el.bgr.glif</string>
    <key>hard.bgr</key>
    <string>hard.bgr.glif</string>
  </dict>
</plist>
