<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>dollar.rvrn2</key>
    <string>dollar.rvrn2.glif</string>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eight.tab</key>
    <string>eight.tab.glif</string>
    <key>kai-tail</key>
    <string>kai-tail.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>nine.tab</key>
    <string>nine.tab.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.tab</key>
    <string>one.tab.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.tab</key>
    <string>six.tab.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.tab</key>
    <string>two.tab.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
    <key>zero.tab</key>
    <string>zero.tab.glif</string>
  </dict>
</plist>
