<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Pe</key>
    <string>P_e.glif</string>
    <key>abrevecyr</key>
    <string>abrevecyr.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>en</key>
    <string>en.glif</string>
    <key>endescender</key>
    <string>endescender.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>ishort</key>
    <string>ishort.glif</string>
    <key>ishort.bgr</key>
    <string>ishort.bgr.glif</string>
    <key>ka</key>
    <string>ka.glif</string>
    <key>kaverticalstrokecyr</key>
    <string>kaverticalstrokecyr.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
  </dict>
</plist>
