<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>dollar.rvrn</key>
    <string>dollar.rvrn.glif</string>
    <key>dollar.rvrn2</key>
    <string>dollar.rvrn2.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.tab</key>
    <string>three.tab.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.tab</key>
    <string>two.tab.glif</string>
  </dict>
</plist>
