<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abreveacute</key>
    <string>A_breveacute.glif</string>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif</string>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>Abrevetilde</key>
    <string>A_brevetilde.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif</string>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>Iacute_J.loclNLD</key>
    <string>I_acute_J_.loclN_L_D_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>Ocircumflexgrave</key>
    <string>O_circumflexgrave.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif</string>
    <key>Odieresismacron</key>
    <string>O_dieresismacron.glif</string>
    <key>Odotaccentmacron</key>
    <string>O_dotaccentmacron.glif</string>
    <key>Otildemacron</key>
    <string>O_tildemacron.glif</string>
    <key>abreveacute</key>
    <string>abreveacute.glif</string>
    <key>abrevegrave</key>
    <string>abrevegrave.glif</string>
    <key>abrevehookabove</key>
    <string>abrevehookabove.glif</string>
    <key>abrevetilde</key>
    <string>abrevetilde.glif</string>
    <key>acircumflexacute</key>
    <string>acircumflexacute.glif</string>
    <key>acircumflexdotbelow</key>
    <string>acircumflexdotbelow.glif</string>
    <key>acircumflexgrave</key>
    <string>acircumflexgrave.glif</string>
    <key>acircumflexhookabove</key>
    <string>acircumflexhookabove.glif</string>
    <key>acircumflextilde</key>
    <string>acircumflextilde.glif</string>
    <key>acutecombstack.case</key>
    <string>acutecombstack.case.glif</string>
    <key>aringacute</key>
    <string>aringacute.glif</string>
    <key>brevecombstack.case</key>
    <string>brevecombstack.case.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>circumflexcombstack.case</key>
    <string>circumflexcombstack.case.glif</string>
    <key>dieresisbelowcomb</key>
    <string>dieresisbelowcomb.glif</string>
    <key>dieresiscombstack.case</key>
    <string>dieresiscombstack.case.glif</string>
    <key>dotaccentcombstack.case</key>
    <string>dotaccentcombstack.case.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>gcommaaccent</key>
    <string>gcommaaccent.glif</string>
    <key>gravecombstack.case</key>
    <string>gravecombstack.case.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>guillemetright</key>
    <string>guillemetright.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>hookabovecombstack.case</key>
    <string>hookabovecombstack.case.glif</string>
    <key>horizontalbarH</key>
    <string>horizontalbarH_.glif</string>
    <key>iacute_j.loclNLD</key>
    <string>iacute_j.loclN_L_D_.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>macroncombstack.case</key>
    <string>macroncombstack.case.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif</string>
    <key>ocircumflexgrave</key>
    <string>ocircumflexgrave.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif</string>
    <key>odieresismacron</key>
    <string>odieresismacron.glif</string>
    <key>odotaccentmacron</key>
    <string>odotaccentmacron.glif</string>
    <key>otildemacron</key>
    <string>otildemacron.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>tildecombstack.case</key>
    <string>tildecombstack.case.glif</string>
    <key>two</key>
    <string>two.glif</string>
  </dict>
</plist>
