<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>brevecombstack.case</key>
    <string>brevecombstack.case.glif</string>
    <key>dieresiscombstack.case</key>
    <string>dieresiscombstack.case.glif</string>
    <key>dotaccentcombstack.case</key>
    <string>dotaccentcombstack.case.glif</string>
    <key>hookabovecombstack.case</key>
    <string>hookabovecombstack.case.glif</string>
    <key>macroncombstack.case</key>
    <string>macroncombstack.case.glif</string>
    <key>tildecombstack.case</key>
    <string>tildecombstack.case.glif</string>
  </dict>
</plist>
