<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1500</integer>
    <key>capHeight</key>
    <integer>1500</integer>
    <key>descender</key>
    <integer>-480</integer>
    <key>familyName</key>
    <string>Amstelvar</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>6NhYnoequr</string>
        <key>x</key>
        <integer>691</integer>
        <key>y</key>
        <integer>1022</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>PFIgPMqpSC</string>
        <key>x</key>
        <integer>996</integer>
        <key>y</key>
        <integer>-31</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>Y3COwEWRx2</string>
        <key>x</key>
        <integer>688</integer>
        <key>y</key>
        <integer>48</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>KwNETulrY7</string>
        <key>x</key>
        <integer>664</integer>
        <key>y</key>
        <integer>76</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>0ahCtncXcO</string>
        <key>x</key>
        <integer>573</integer>
        <key>y</key>
        <integer>924</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>NGIjesh4P9</string>
        <key>x</key>
        <integer>432</integer>
        <key>y</key>
        <integer>945</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>rtEkeyDt4P</string>
        <key>x</key>
        <integer>680</integer>
        <key>y</key>
        <integer>1453</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>RyxsWpprbW</string>
        <key>x</key>
        <integer>1173</integer>
        <key>y</key>
        <integer>1424</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>ndmZN3nuyS</string>
        <key>x</key>
        <integer>975</integer>
        <key>y</key>
        <integer>1520</integer>
      </dict>
    </array>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Roman-wghtmin</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <real>1000.0</real>
  </dict>
</plist>
