<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>De</key>
		<string>D_e.glif</string>
		<key>Dje</key>
		<string>D_je.glif</string>
		<key>Ghestroke</key>
		<string>G_hestroke.glif</string>
		<key>Lje</key>
		<string>L_je.glif</string>
		<key>Pe</key>
		<string>P_e.glif</string>
		<key>Tse</key>
		<string>T_se.glif</string>
		<key>Ya</key>
		<string>Y_a.glif</string>
		<key>be</key>
		<string>be.glif</string>
		<key>be.locl</key>
		<string>be.locl.glif</string>
		<key>breve.cyr</key>
		<string>breve.cyr.glif</string>
		<key>de</key>
		<string>de.glif</string>
		<key>de.bgr</key>
		<string>de.bgr.glif</string>
		<key>en</key>
		<string>en.glif</string>
		<key>en.bgr</key>
		<string>en.bgr.glif</string>
		<key>endescender</key>
		<string>endescender.glif</string>
		<key>ghe.bgr</key>
		<string>ghe.bgr.glif</string>
		<key>hard</key>
		<string>hard.glif</string>
		<key>hryvnia</key>
		<string>hryvnia.glif</string>
		<key>ka</key>
		<string>ka.glif</string>
		<key>kabashkircyr</key>
		<string>kabashkircyr.glif</string>
		<key>kadescender</key>
		<string>kadescender.glif</string>
		<key>nje</key>
		<string>nje.glif</string>
		<key>sha</key>
		<string>sha.glif</string>
		<key>shcha</key>
		<string>shcha.glif</string>
		<key>te</key>
		<string>te.glif</string>
		<key>tedescender-cy</key>
		<string>tedescender-cy.glif</string>
		<key>ve.bgr</key>
		<string>ve.bgr.glif</string>
		<key>ya</key>
		<string>ya.glif</string>
		<key>yi</key>
		<string>yi.glif</string>
		<key>ze</key>
		<string>ze.glif</string>
		<key>zhe</key>
		<string>zhe.glif</string>
		<key>zhedescender</key>
		<string>zhedescender.glif</string>
	</dict>
</plist>
