<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>D</key>
    <string>D_.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Iacute_J.loclNLD</key>
    <string>I_acute_J_.loclN_L_D_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>abrevehookabove</key>
    <string>abrevehookabove.glif</string>
    <key>abrevetilde</key>
    <string>abrevetilde.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>dollar.rvrn2</key>
    <string>dollar.rvrn2.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute_j.loclNLD</key>
    <string>iacute_j.loclN_L_D_.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif</string>
    <key>odieresismacron</key>
    <string>odieresismacron.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>tildecombstack.case</key>
    <string>tildecombstack.case.glif</string>
  </dict>
</plist>
