
#proof-grid {
	padding: 1rem;
	word-break: break-all;
	word-wrap: break-word;
	overflow-wrap: break-word;
	font-size: 36pt;
	line-height: 1.5;
	text-align: left;
}

#proof-grid div {
	display: block;
	white-space: nowrap;
	word-break: normal;
	word-wrap: normal;
	overflow-wrap: normal;
}

#proof-grid span {
	display: inline-block;
	margin-right: 0.3em;
	min-width: 1em;
/* 	font: inherit; */
	text-align: left;
}
