<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Hadescender</key>
    <string>H_adescender.glif</string>
    <key>icyr</key>
    <string>icyr.glif</string>
    <key>ie</key>
    <string>ie.glif</string>
    <key>iebrevecyr</key>
    <string>iebrevecyr.glif</string>
    <key>igravecyr</key>
    <string>igravecyr.glif</string>
    <key>io</key>
    <string>io.glif</string>
    <key>ishort</key>
    <string>ishort.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
  </dict>
</plist>
