<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>W</key>
    <string>W_.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>five.lc</key>
    <string>five.lc.glif</string>
    <key>four.lc</key>
    <string>four.lc.glif</string>
    <key>guarani</key>
    <string>guarani.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>nine.lc</key>
    <string>nine.lc.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>nine.tab</key>
    <string>nine.tab.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>seven.lc</key>
    <string>seven.lc.glif</string>
    <key>six.lc</key>
    <string>six.lc.glif</string>
    <key>three.lc</key>
    <string>three.lc.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.tab</key>
    <string>three.tab.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.tab</key>
    <string>two.tab.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>zero.lc</key>
    <string>zero.lc.glif</string>
  </dict>
</plist>
