<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Be</key>
    <string>B_e.glif</string>
    <key>De</key>
    <string>D_e.glif</string>
    <key>Dje</key>
    <string>D_je.glif</string>
    <key>Hard</key>
    <string>H_ard.glif</string>
    <key>Ka</key>
    <string>K_a.glif</string>
    <key>Kadescender</key>
    <string>K_adescender.glif</string>
    <key>Kaverticalstrokecyr</key>
    <string>K_averticalstrokecyr.glif</string>
    <key>Ya</key>
    <string>Y_a.glif</string>
    <key>Ze</key>
    <string>Z_e.glif</string>
    <key>Zhe</key>
    <string>Z_he.glif</string>
    <key>Zhedescender</key>
    <string>Z_hedescender.glif</string>
    <key>be</key>
    <string>be.glif</string>
    <key>che</key>
    <string>che.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>de</key>
    <string>de.glif</string>
    <key>em</key>
    <string>em.glif</string>
    <key>lje</key>
    <string>lje.glif</string>
    <key>nje</key>
    <string>nje.glif</string>
    <key>soft</key>
    <string>soft.glif</string>
    <key>ze</key>
    <string>ze.glif</string>
    <key>zhe</key>
    <string>zhe.glif</string>
    <key>zhedescender</key>
    <string>zhedescender.glif</string>
  </dict>
</plist>
