<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>De</key>
		<string>D_e.glif</string>
		<key>Delta</key>
		<string>D_elta.glif</string>
		<key>Dje</key>
		<string>D_je.glif</string>
		<key>Ghestroke</key>
		<string>G_hestroke.glif</string>
		<key>Lje</key>
		<string>L_je.glif</string>
		<key>Pe</key>
		<string>P_e.glif</string>
		<key>Phi</key>
		<string>P_hi.glif</string>
		<key>Sigma</key>
		<string>S_igma.glif</string>
		<key>Tse</key>
		<string>T_se.glif</string>
		<key>Ya</key>
		<string>Y_a.glif</string>
		<key>be</key>
		<string>be.glif</string>
		<key>be.locl</key>
		<string>be.locl.glif</string>
		<key>beta</key>
		<string>beta.glif</string>
		<key>breve.cyr</key>
		<string>breve.cyr.glif</string>
		<key>chi</key>
		<string>chi.glif</string>
		<key>de</key>
		<string>de.glif</string>
		<key>de.bgr</key>
		<string>de.bgr.glif</string>
		<key>eight.lc</key>
		<string>eight.lc.glif</string>
		<key>en</key>
		<string>en.glif</string>
		<key>en.bgr</key>
		<string>en.bgr.glif</string>
		<key>endescender</key>
		<string>endescender.glif</string>
		<key>epsilon</key>
		<string>epsilon.glif</string>
		<key>eta</key>
		<string>eta.glif</string>
		<key>finalsigma</key>
		<string>finalsigma.glif</string>
		<key>five.lc</key>
		<string>five.lc.glif</string>
		<key>four.lc</key>
		<string>four.lc.glif</string>
		<key>ghe.bgr</key>
		<string>ghe.bgr.glif</string>
		<key>hard</key>
		<string>hard.glif</string>
		<key>hryvnia</key>
		<string>hryvnia.glif</string>
		<key>iota</key>
		<string>iota.glif</string>
		<key>ka</key>
		<string>ka.glif</string>
		<key>kabashkircyr</key>
		<string>kabashkircyr.glif</string>
		<key>kadescender</key>
		<string>kadescender.glif</string>
		<key>kaisymbol</key>
		<string>kaisymbol.glif</string>
		<key>kappa</key>
		<string>kappa.glif</string>
		<key>lambda</key>
		<string>lambda.glif</string>
		<key>mu</key>
		<string>mu.glif</string>
		<key>nine.lc</key>
		<string>nine.lc.glif</string>
		<key>nje</key>
		<string>nje.glif</string>
		<key>omega</key>
		<string>omega.glif</string>
		<key>one.lc</key>
		<string>one.lc.glif</string>
		<key>phi</key>
		<string>phi.glif</string>
		<key>pi</key>
		<string>pi.glif</string>
		<key>psi</key>
		<string>psi.glif</string>
		<key>seven.lc</key>
		<string>seven.lc.glif</string>
		<key>sha</key>
		<string>sha.glif</string>
		<key>shcha</key>
		<string>shcha.glif</string>
		<key>sigma</key>
		<string>sigma.glif</string>
		<key>six.lc</key>
		<string>six.lc.glif</string>
		<key>tau</key>
		<string>tau.glif</string>
		<key>te</key>
		<string>te.glif</string>
		<key>tedescender-cy</key>
		<string>tedescender-cy.glif</string>
		<key>theta</key>
		<string>theta.glif</string>
		<key>three.lc</key>
		<string>three.lc.glif</string>
		<key>two.lc</key>
		<string>two.lc.glif</string>
		<key>ve.bgr</key>
		<string>ve.bgr.glif</string>
		<key>xi</key>
		<string>xi.glif</string>
		<key>ya</key>
		<string>ya.glif</string>
		<key>yi</key>
		<string>yi.glif</string>
		<key>ze</key>
		<string>ze.glif</string>
		<key>zero.lc</key>
		<string>zero.lc.glif</string>
		<key>zeta</key>
		<string>zeta.glif</string>
		<key>zhe</key>
		<string>zhe.glif</string>
		<key>zhedescender</key>
		<string>zhedescender.glif</string>
	</dict>
</plist>
