<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>five.lc</key>
    <string>five.lc.glif</string>
    <key>four.lc</key>
    <string>four.lc.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>kaisymbol</key>
    <string>kaisymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>nine.lc</key>
    <string>nine.lc.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>one.lc</key>
    <string>one.lc.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>seven.lc</key>
    <string>seven.lc.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>six.lc</key>
    <string>six.lc.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>three.lc</key>
    <string>three.lc.glif</string>
    <key>two.lc</key>
    <string>two.lc.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>zero.lc</key>
    <string>zero.lc.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
  </dict>
</plist>
