<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>Odieresismacron</key>
    <string>O_dieresismacron.glif</string>
    <key>Schwa</key>
    <string>S_chwa.glif</string>
    <key>abrevegrave</key>
    <string>abrevegrave.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>brevecomb</key>
    <string>brevecomb.glif</string>
    <key>bulletoperator</key>
    <string>bulletoperator.glif</string>
    <key>caroncomb</key>
    <string>caroncomb.glif</string>
    <key>cedillacomb</key>
    <string>cedillacomb.glif</string>
    <key>circumflexcomb</key>
    <string>circumflexcomb.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dieresisbelowcomb</key>
    <string>dieresisbelowcomb.glif</string>
    <key>dieresisbelowcomb.case</key>
    <string>dieresisbelowcomb.case.glif</string>
    <key>dieresiscomb</key>
    <string>dieresiscomb.glif</string>
    <key>dieresiscomb.case</key>
    <string>dieresiscomb.case.glif</string>
    <key>dotaccentcomb</key>
    <string>dotaccentcomb.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f_ij</key>
    <string>f_f_ij.glif</string>
    <key>f_ij</key>
    <string>f_ij.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>gravecomb</key>
    <string>gravecomb.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hungarumlautcomb</key>
    <string>hungarumlautcomb.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>macroncomb</key>
    <string>macroncomb.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>ocircumflexgrave</key>
    <string>ocircumflexgrave.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>ogonekcomb</key>
    <string>ogonekcomb.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>ringcomb</key>
    <string>ringcomb.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
