<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>w</key>
    <string>w.glif</string>
  </dict>
</plist>
