<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>W</key>
    <string>W_.glif</string>
    <key>breveinvertedcomb.case</key>
    <string>breveinvertedcomb.case.glif</string>
    <key>caroncomb.case</key>
    <string>caroncomb.case.glif</string>
    <key>cedi</key>
    <string>cedi.glif</string>
    <key>horncomb.case</key>
    <string>horncomb.case.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>nine.tab</key>
    <string>nine.tab.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.tab</key>
    <string>one.tab.glif</string>
    <key>ringcomb.case</key>
    <string>ringcomb.case.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>w</key>
    <string>w.glif</string>
  </dict>
</plist>
