<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abrevedotbelow</key>
    <string>A_brevedotbelow.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Hcircumflex</key>
    <string>H_circumflex.glif</string>
    <key>IJacute</key>
    <string>I_J_acute.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>dieresisbelowcomb</key>
    <string>dieresisbelowcomb.glif</string>
    <key>dieresisbelowcomb.case</key>
    <string>dieresisbelowcomb.case.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>foursuperior</key>
    <string>foursuperior.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif</string>
    <key>odieresismacron</key>
    <string>odieresismacron.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>peso</key>
    <string>peso.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
  </dict>
</plist>
