<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>hookabovecomb.case</key>
    <string>hookabovecomb.case.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
  </dict>
</plist>
