<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>kip</key>
    <string>kip.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>schwa</key>
    <string>schwa.glif</string>
    <key>won</key>
    <string>won.glif</string>
  </dict>
</plist>
