<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>public.glyphOrder</key>
	<array>
		<string>CR</string>
		<string>space</string>
		<string>nbspace</string>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>AE</string>
		<string>OE</string>
		<string>Thorn</string>
		<string>Germandbls</string>
		<string>Schwa</string>
		<string>numero</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Abreveacute</string>
		<string>Abrevedotbelow</string>
		<string>Abrevegrave</string>
		<string>Abrevehookabove</string>
		<string>Abrevetilde</string>
		<string>Acircumflex</string>
		<string>Acircumflexacute</string>
		<string>Acircumflexdotbelow</string>
		<string>Acircumflexgrave</string>
		<string>Acircumflexhookabove</string>
		<string>Acircumflextilde</string>
		<string>Adblgrave</string>
		<string>Adieresis</string>
		<string>Adotbelow</string>
		<string>Agrave</string>
		<string>Ahookabove</string>
		<string>Ainvertedbreve</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Aringacute</string>
		<string>Atilde</string>
		<string>AEacute</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>Eacute</string>
		<string>Ebreve</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Ecircumflexacute</string>
		<string>Ecircumflexdotbelow</string>
		<string>Ecircumflexgrave</string>
		<string>Ecircumflexhookabove</string>
		<string>Ecircumflextilde</string>
		<string>Edblgrave</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Edotbelow</string>
		<string>Egrave</string>
		<string>Ehookabove</string>
		<string>Einvertedbreve</string>
		<string>Emacron</string>
		<string>Eng</string>
		<string>Eogonek</string>
		<string>Eth</string>
		<string>Etilde</string>
		<string>Gbreve</string>
		<string>Gcaron</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>Hbar</string>
		<string>Hcircumflex</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Icircumflex</string>
		<string>Idblgrave</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Idotbelow</string>
		<string>Igrave</string>
		<string>Ihookabove</string>
		<string>Iinvertedbreve</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>Itilde</string>
		<string>Jcircumflex</string>
		<string>Kcommaaccent</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Ocircumflexacute</string>
		<string>Ocircumflexdotbelow</string>
		<string>Ocircumflexgrave</string>
		<string>Ocircumflexhookabove</string>
		<string>Ocircumflextilde</string>
		<string>Odblgrave</string>
		<string>Odieresis</string>
		<string>Odieresismacron</string>
		<string>Odotaccentmacron</string>
		<string>Odotbelow</string>
		<string>Ograve</string>
		<string>Ohookabove</string>
		<string>Ohorn</string>
		<string>Ohornacute</string>
		<string>Ohorndotbelow</string>
		<string>Ohorngrave</string>
		<string>Ohornhookabove</string>
		<string>Ohorntilde</string>
		<string>Ohungarumlaut</string>
		<string>Oinvertedbreve</string>
		<string>Omacron</string>
		<string>Oogonek</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Otilde</string>
		<string>Otildemacron</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Rdblgrave</string>
		<string>Rinvertedbreve</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scircumflex</string>
		<string>Scommaaccent</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>Tcedilla</string>
		<string>Tcommaaccent</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udblgrave</string>
		<string>Udieresis</string>
		<string>Udotbelow</string>
		<string>Ugrave</string>
		<string>Uhookabove</string>
		<string>Uhorn</string>
		<string>Uhornacute</string>
		<string>Uhorndotbelow</string>
		<string>Uhorngrave</string>
		<string>Uhornhookabove</string>
		<string>Uhorntilde</string>
		<string>Uhungarumlaut</string>
		<string>Uinvertedbreve</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ydotbelow</string>
		<string>Ygrave</string>
		<string>Yhookabove</string>
		<string>Ymacron</string>
		<string>Ytilde</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>uhungarumlaut</string>
		<string>uinvertedbreve</string>
		<string>umacron</string>
		<string>uring</string>
		<string>utilde</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ydotbelow</string>
		<string>ygrave</string>
		<string>yhookabove</string>
		<string>ymacron</string>
		<string>ytilde</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>grave.uc</string>
		<string>acute.uc</string>
		<string>circumflex.uc</string>
		<string>tilde.uc</string>
		<string>macron.uc</string>
		<string>breve.uc</string>
		<string>dotaccent.uc</string>
		<string>dieresis.uc</string>
		<string>hookabove.uc</string>
		<string>ring.uc</string>
		<string>hungarumlaut.uc</string>
		<string>caron.uc</string>
		<string>dblgrave.uc</string>
		<string>breveinverted.uc</string>
		<string>commaturnedabove.uc</string>
		<string>horn.uc</string>
		<string>dotbelow.uc</string>
		<string>cedilla.uc</string>
		<string>ogonek.uc</string>
		<string>brevebelow.uc</string>
		<string>commaaccent.uc</string>
		<string>macronbelow.uc</string>
		<string>circumflex_acute.uc</string>
		<string>circumflex_grave.uc</string>
		<string>circumflex_hookabove.uc</string>
		<string>circumflex_tilde.uc</string>
		<string>breve_acute.uc</string>
		<string>breve_grave.uc</string>
		<string>breve_hookabove.uc</string>
		<string>breve_tilde.uc</string>
		<string>caron.alt.uc</string>
		<string>ring_acute.uc</string>
		<string>dieresis_macron.uc</string>
		<string>tilde_macron.uc</string>
		<string>dotaccent_macron.uc</string>
		<string>engtail</string>
		<string>horizontalbarH</string>
		<string>hornU</string>
		<string>strokeshort</string>
		<string>diagonalbarO</string>
		<string>diagonalbarl</string>
		<string>horizontalbar</string>
	</array>
</dict>
</plist>
