<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1500</integer>
    <key>capHeight</key>
    <integer>1500</integer>
    <key>descender</key>
    <integer>-500</integer>
    <key>familyName</key>
    <string>Amstelvar</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>sbIscTEdMN</string>
        <key>x</key>
        <integer>893</integer>
        <key>y</key>
        <integer>1077</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>j4mYvpXl18</string>
        <key>x</key>
        <integer>1034</integer>
        <key>y</key>
        <integer>-27</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <real>0.0</real>
    <key>openTypeHeadCreated</key>
    <string>2017/01/08 18:43:12</string>
    <key>openTypeHeadFlags</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
    </array>
    <key>openTypeHeadLowestRecPPEM</key>
    <integer>6</integer>
    <key>openTypeHheaAscender</key>
    <integer>1900</integer>
    <key>openTypeHheaCaretOffset</key>
    <integer>0</integer>
    <key>openTypeHheaCaretSlopeRise</key>
    <integer>1</integer>
    <key>openTypeHheaCaretSlopeRun</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>-500</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameVersion</key>
    <string>Version 0.000</string>
    <key>openTypeOS2CodePageRanges</key>
    <array/>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array/>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>600</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>100</integer>
    <key>openTypeOS2SubscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SubscriptXSize</key>
    <integer>1300</integer>
    <key>openTypeOS2SubscriptYOffset</key>
    <integer>150</integer>
    <key>openTypeOS2SubscriptYSize</key>
    <integer>1200</integer>
    <key>openTypeOS2SuperscriptXOffset</key>
    <integer>0</integer>
    <key>openTypeOS2SuperscriptXSize</key>
    <integer>1300</integer>
    <key>openTypeOS2SuperscriptYOffset</key>
    <integer>700</integer>
    <key>openTypeOS2SuperscriptYSize</key>
    <integer>1200</integer>
    <key>openTypeOS2Type</key>
    <array>
      <integer>2</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>1500</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-500</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>400</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array/>
    <key>openTypeOS2VendorID</key>
    <string>NONE</string>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1900</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>500</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptIsFixedPitch</key>
    <false/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>postscriptUnderlinePosition</key>
    <integer>-150</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>100</integer>
    <key>styleMapFamilyName</key>
    <string>Amstelvar Black</string>
    <key>styleName</key>
    <string>Black</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <real>1050.0</real>
  </dict>
</plist>
