<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Acircumflexhookabove</key>
    <dict>
      <key>V</key>
      <integer>0</integer>
      <key>public.kern2.T</key>
      <integer>0</integer>
      <key>public.kern2.Y</key>
      <integer>0</integer>
    </dict>
    <key>Aogonek</key>
    <dict>
      <key>p</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
    </dict>
    <key>Eogonek</key>
    <dict>
      <key>p</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
    </dict>
    <key>F</key>
    <dict>
      <key>iacute</key>
      <integer>0</integer>
      <key>ibreve</key>
      <integer>0</integer>
      <key>icircumflex</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
      <key>jcircumflex</key>
      <integer>0</integer>
    </dict>
    <key>Iogonek</key>
    <dict>
      <key>p</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
    </dict>
    <key>T</key>
    <dict>
      <key>hbar</key>
      <integer>0</integer>
    </dict>
    <key>V</key>
    <dict>
      <key>abreve</key>
      <integer>0</integer>
      <key>abreveacute</key>
      <integer>0</integer>
      <key>abrevedotbelow</key>
      <integer>0</integer>
      <key>abrevegrave</key>
      <integer>0</integer>
      <key>abrevehookabove</key>
      <integer>0</integer>
      <key>abrevetilde</key>
      <integer>0</integer>
      <key>acircumflex</key>
      <integer>0</integer>
      <key>acircumflexacute</key>
      <integer>0</integer>
      <key>acircumflexdotbelow</key>
      <integer>0</integer>
      <key>acircumflexgrave</key>
      <integer>0</integer>
      <key>acircumflexhookabove</key>
      <integer>0</integer>
      <key>acircumflextilde</key>
      <integer>0</integer>
      <key>adblgrave</key>
      <integer>0</integer>
      <key>adieresis</key>
      <integer>0</integer>
      <key>agrave</key>
      <integer>0</integer>
      <key>ahookabove</key>
      <integer>0</integer>
      <key>aring</key>
      <integer>0</integer>
      <key>atilde</key>
      <integer>0</integer>
      <key>ccaron</key>
      <integer>0</integer>
      <key>ebreve</key>
      <integer>0</integer>
      <key>ecaron</key>
      <integer>0</integer>
      <key>ecircumflexacute</key>
      <integer>0</integer>
      <key>ecircumflextilde</key>
      <integer>0</integer>
      <key>edblgrave</key>
      <integer>0</integer>
      <key>edieresis</key>
      <integer>0</integer>
      <key>egrave</key>
      <integer>0</integer>
      <key>emacron</key>
      <integer>0</integer>
      <key>etilde</key>
      <integer>0</integer>
      <key>gbreve</key>
      <integer>0</integer>
      <key>gcaron</key>
      <integer>0</integer>
      <key>iacute</key>
      <integer>0</integer>
      <key>ibreve</key>
      <integer>0</integer>
      <key>icircumflex</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>ihookabove</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
      <key>obreve</key>
      <integer>0</integer>
      <key>ocircumflexacute</key>
      <integer>0</integer>
      <key>ocircumflextilde</key>
      <integer>0</integer>
      <key>odblgrave</key>
      <integer>0</integer>
      <key>odieresis</key>
      <integer>0</integer>
      <key>odieresismacron</key>
      <integer>0</integer>
      <key>odotaccentmacron</key>
      <integer>0</integer>
      <key>ograve</key>
      <integer>0</integer>
      <key>ohorngrave</key>
      <integer>0</integer>
      <key>ohorntilde</key>
      <integer>0</integer>
      <key>ohungarumlaut</key>
      <integer>0</integer>
      <key>oinvertedbreve</key>
      <integer>0</integer>
      <key>omacron</key>
      <integer>0</integer>
      <key>otilde</key>
      <integer>0</integer>
      <key>otildemacron</key>
      <integer>0</integer>
      <key>rcaron</key>
      <integer>0</integer>
      <key>scaron</key>
      <integer>0</integer>
      <key>scircumflex</key>
      <integer>0</integer>
      <key>ubreve</key>
      <integer>0</integer>
      <key>udblgrave</key>
      <integer>0</integer>
      <key>udieresis</key>
      <integer>0</integer>
      <key>ydieresis</key>
      <integer>0</integer>
      <key>ygrave</key>
      <integer>0</integer>
      <key>ytilde</key>
      <integer>0</integer>
      <key>zcaron</key>
      <integer>0</integer>
    </dict>
    <key>W</key>
    <dict>
      <key>abreve</key>
      <integer>0</integer>
      <key>adblgrave</key>
      <integer>0</integer>
      <key>ecircumflexacute</key>
      <integer>0</integer>
    </dict>
    <key>X</key>
    <dict>
      <key>ibreve</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
    </dict>
    <key>acircumflexhookabove</key>
    <dict>
      <key>public.kern2.b</key>
      <integer>0</integer>
      <key>public.kern2.i</key>
      <integer>0</integer>
      <key>public.kern2.straight_left_asc</key>
      <integer>0</integer>
      <key>public.kern2.t</key>
      <integer>0</integer>
    </dict>
    <key>aogonek</key>
    <dict>
      <key>p</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
    </dict>
    <key>comma</key>
    <dict>
      <key>public.kern2.y</key>
      <integer>0</integer>
    </dict>
    <key>ecircumflexhookabove</key>
    <dict>
      <key>public.kern2.b</key>
      <integer>0</integer>
      <key>public.kern2.i</key>
      <integer>0</integer>
      <key>public.kern2.straight_left_asc</key>
      <integer>0</integer>
      <key>public.kern2.t</key>
      <integer>0</integer>
    </dict>
    <key>eogonek</key>
    <dict>
      <key>public.kern2.g</key>
      <integer>0</integer>
    </dict>
    <key>five.lf</key>
    <dict>
      <key>greater</key>
      <integer>0</integer>
      <key>less</key>
      <integer>0</integer>
    </dict>
    <key>four.lf</key>
    <dict>
      <key>less</key>
      <integer>0</integer>
    </dict>
    <key>greater</key>
    <dict>
      <key>five.lf</key>
      <integer>0</integer>
      <key>four.lf</key>
      <integer>0</integer>
      <key>nine.lf</key>
      <integer>0</integer>
      <key>one.lf</key>
      <integer>0</integer>
      <key>seven.lf</key>
      <integer>0</integer>
      <key>three.lf</key>
      <integer>0</integer>
      <key>two.lf</key>
      <integer>0</integer>
    </dict>
    <key>iacute</key>
    <dict>
      <key>public.kern2.b</key>
      <integer>0</integer>
    </dict>
    <key>imacron</key>
    <dict>
      <key>public.kern2.b</key>
      <integer>0</integer>
    </dict>
    <key>iogonek</key>
    <dict>
      <key>p</key>
      <integer>0</integer>
      <key>public.kern2.g</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
    </dict>
    <key>less</key>
    <dict>
      <key>seven.lf</key>
      <integer>0</integer>
    </dict>
    <key>nine.lf</key>
    <dict>
      <key>less</key>
      <integer>0</integer>
    </dict>
    <key>ocircumflexhookabove</key>
    <dict>
      <key>public.kern2.b</key>
      <integer>0</integer>
      <key>public.kern2.i</key>
      <integer>0</integer>
      <key>public.kern2.straight_left_asc</key>
      <integer>0</integer>
      <key>public.kern2.t</key>
      <integer>0</integer>
    </dict>
    <key>one.lf</key>
    <dict>
      <key>less</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.I</key>
    <dict>
      <key>ibreve</key>
      <integer>0</integer>
      <key>icircumflex</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>ibreve</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.N</key>
    <dict>
      <key>ibreve</key>
      <integer>0</integer>
      <key>icircumflex</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>ihookabove</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
      <key>jcircumflex</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.Straight_right</key>
    <dict>
      <key>icircumflex</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>abreve</key>
      <integer>0</integer>
      <key>abreveacute</key>
      <integer>0</integer>
      <key>abrevedotbelow</key>
      <integer>0</integer>
      <key>abrevegrave</key>
      <integer>0</integer>
      <key>abrevehookabove</key>
      <integer>0</integer>
      <key>abrevetilde</key>
      <integer>0</integer>
      <key>acircumflex</key>
      <integer>0</integer>
      <key>acircumflexacute</key>
      <integer>0</integer>
      <key>acircumflexdotbelow</key>
      <integer>0</integer>
      <key>acircumflexgrave</key>
      <integer>0</integer>
      <key>acircumflexhookabove</key>
      <integer>0</integer>
      <key>acircumflextilde</key>
      <integer>0</integer>
      <key>adblgrave</key>
      <integer>0</integer>
      <key>adieresis</key>
      <integer>0</integer>
      <key>agrave</key>
      <integer>0</integer>
      <key>ahookabove</key>
      <integer>0</integer>
      <key>amacron</key>
      <integer>0</integer>
      <key>aring</key>
      <integer>0</integer>
      <key>atilde</key>
      <integer>0</integer>
      <key>ecaron</key>
      <integer>0</integer>
      <key>ecircumflex</key>
      <integer>0</integer>
      <key>ecircumflexacute</key>
      <integer>0</integer>
      <key>ecircumflexdotbelow</key>
      <integer>0</integer>
      <key>ecircumflexgrave</key>
      <integer>0</integer>
      <key>ecircumflexhookabove</key>
      <integer>0</integer>
      <key>ecircumflextilde</key>
      <integer>0</integer>
      <key>edieresis</key>
      <integer>0</integer>
      <key>emacron</key>
      <integer>0</integer>
      <key>etilde</key>
      <integer>0</integer>
      <key>ibreve</key>
      <integer>0</integer>
      <key>icircumflex</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>ihookabove</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
      <key>odieresis</key>
      <integer>0</integer>
      <key>ohorntilde</key>
      <integer>0</integer>
      <key>scaron</key>
      <integer>0</integer>
      <key>scircumflex</key>
      <integer>0</integer>
      <key>ydieresis</key>
      <integer>0</integer>
      <key>ytilde</key>
      <integer>0</integer>
      <key>zcaron</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>ibreve</key>
      <integer>0</integer>
      <key>icircumflex</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>ihookabove</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
      <key>jcircumflex</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.Uhorn</key>
    <dict>
      <key>abrevegrave</key>
      <integer>0</integer>
      <key>abrevetilde</key>
      <integer>0</integer>
      <key>acircumflextilde</key>
      <integer>0</integer>
      <key>adblgrave</key>
      <integer>0</integer>
      <key>ecircumflexacute</key>
      <integer>0</integer>
      <key>ecircumflextilde</key>
      <integer>0</integer>
      <key>edblgrave</key>
      <integer>0</integer>
      <key>ibreve</key>
      <integer>0</integer>
      <key>icircumflex</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>ihookabove</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
      <key>jcircumflex</key>
      <integer>0</integer>
      <key>jdotless</key>
      <integer>0</integer>
      <key>ocircumflexacute</key>
      <integer>0</integer>
      <key>ocircumflextilde</key>
      <integer>0</integer>
      <key>odblgrave</key>
      <integer>0</integer>
      <key>odieresis</key>
      <integer>0</integer>
      <key>odieresismacron</key>
      <integer>0</integer>
      <key>odotaccentmacron</key>
      <integer>0</integer>
      <key>ohorngrave</key>
      <integer>0</integer>
      <key>ohorntilde</key>
      <integer>0</integer>
      <key>otilde</key>
      <integer>0</integer>
      <key>otildemacron</key>
      <integer>0</integer>
      <key>rcaron</key>
      <integer>0</integer>
      <key>rdblgrave</key>
      <integer>0</integer>
      <key>rinvertedbreve</key>
      <integer>0</integer>
      <key>scaron</key>
      <integer>0</integer>
      <key>scircumflex</key>
      <integer>0</integer>
      <key>udblgrave</key>
      <integer>0</integer>
      <key>udieresis</key>
      <integer>0</integer>
      <key>ugrave</key>
      <integer>0</integer>
      <key>zcaron</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>abreveacute</key>
      <integer>0</integer>
      <key>abrevedotbelow</key>
      <integer>0</integer>
      <key>abrevegrave</key>
      <integer>0</integer>
      <key>abrevehookabove</key>
      <integer>0</integer>
      <key>abrevetilde</key>
      <integer>0</integer>
      <key>acircumflexacute</key>
      <integer>0</integer>
      <key>acircumflexdotbelow</key>
      <integer>0</integer>
      <key>acircumflextilde</key>
      <integer>0</integer>
      <key>adieresis</key>
      <integer>0</integer>
      <key>agrave</key>
      <integer>0</integer>
      <key>ahookabove</key>
      <integer>0</integer>
      <key>ebreve</key>
      <integer>0</integer>
      <key>ecircumflextilde</key>
      <integer>0</integer>
      <key>edblgrave</key>
      <integer>0</integer>
      <key>edieresis</key>
      <integer>0</integer>
      <key>egrave</key>
      <integer>0</integer>
      <key>etilde</key>
      <integer>0</integer>
      <key>gbreve</key>
      <integer>0</integer>
      <key>gcaron</key>
      <integer>0</integer>
      <key>iacute</key>
      <integer>0</integer>
      <key>ibreve</key>
      <integer>0</integer>
      <key>icircumflex</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>ihookabove</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
      <key>jcircumflex</key>
      <integer>0</integer>
      <key>jdotless</key>
      <integer>0</integer>
      <key>obreve</key>
      <integer>0</integer>
      <key>ocircumflexacute</key>
      <integer>0</integer>
      <key>odblgrave</key>
      <integer>0</integer>
      <key>odieresis</key>
      <integer>0</integer>
      <key>odieresismacron</key>
      <integer>0</integer>
      <key>odotaccentmacron</key>
      <integer>0</integer>
      <key>ohorntilde</key>
      <integer>0</integer>
      <key>otilde</key>
      <integer>0</integer>
      <key>otildemacron</key>
      <integer>0</integer>
      <key>scaron</key>
      <integer>0</integer>
      <key>scircumflex</key>
      <integer>0</integer>
      <key>ubreve</key>
      <integer>0</integer>
      <key>udblgrave</key>
      <integer>0</integer>
      <key>udieresis</key>
      <integer>0</integer>
      <key>ydieresis</key>
      <integer>0</integer>
      <key>ygrave</key>
      <integer>0</integer>
      <key>zcaron</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>abreve</key>
      <integer>0</integer>
      <key>abreveacute</key>
      <integer>0</integer>
      <key>abrevedotbelow</key>
      <integer>0</integer>
      <key>abrevegrave</key>
      <integer>0</integer>
      <key>abrevehookabove</key>
      <integer>0</integer>
      <key>abrevetilde</key>
      <integer>0</integer>
      <key>acircumflexacute</key>
      <integer>0</integer>
      <key>acircumflextilde</key>
      <integer>0</integer>
      <key>adblgrave</key>
      <integer>0</integer>
      <key>adieresis</key>
      <integer>0</integer>
      <key>agrave</key>
      <integer>0</integer>
      <key>ahookabove</key>
      <integer>0</integer>
      <key>aring</key>
      <integer>0</integer>
      <key>ebreve</key>
      <integer>0</integer>
      <key>ecircumflexacute</key>
      <integer>0</integer>
      <key>ecircumflextilde</key>
      <integer>0</integer>
      <key>edblgrave</key>
      <integer>0</integer>
      <key>edieresis</key>
      <integer>0</integer>
      <key>iacute</key>
      <integer>0</integer>
      <key>ibreve</key>
      <integer>0</integer>
      <key>icircumflex</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>ihookabove</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
      <key>jcircumflex</key>
      <integer>0</integer>
      <key>jdotless</key>
      <integer>0</integer>
      <key>obreve</key>
      <integer>0</integer>
      <key>ocircumflexacute</key>
      <integer>0</integer>
      <key>odblgrave</key>
      <integer>0</integer>
      <key>odieresis</key>
      <integer>0</integer>
      <key>odieresismacron</key>
      <integer>0</integer>
      <key>odotaccentmacron</key>
      <integer>0</integer>
      <key>ohorntilde</key>
      <integer>0</integer>
      <key>otilde</key>
      <integer>0</integer>
      <key>otildemacron</key>
      <integer>0</integer>
      <key>rcaron</key>
      <integer>0</integer>
      <key>scaron</key>
      <integer>0</integer>
      <key>scircumflex</key>
      <integer>0</integer>
      <key>ubreve</key>
      <integer>0</integer>
      <key>udblgrave</key>
      <integer>0</integer>
      <key>udieresis</key>
      <integer>0</integer>
      <key>ydieresis</key>
      <integer>0</integer>
      <key>ygrave</key>
      <integer>0</integer>
      <key>zcaron</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.carons</key>
    <dict>
      <key>scaron</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>ibreve</key>
      <integer>0</integer>
      <key>icircumflex</key>
      <integer>0</integer>
      <key>idblgrave</key>
      <integer>0</integer>
      <key>igrave</key>
      <integer>0</integer>
      <key>ihookabove</key>
      <integer>0</integer>
      <key>iinvertedbreve</key>
      <integer>0</integer>
      <key>imacron</key>
      <integer>0</integer>
      <key>itilde</key>
      <integer>0</integer>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>comma</key>
      <integer>0</integer>
    </dict>
    <key>seven.lf</key>
    <dict>
      <key>less</key>
      <integer>0</integer>
    </dict>
    <key>tcaron</key>
    <dict>
      <key>asterisk</key>
      <integer>0</integer>
      <key>backslash</key>
      <integer>0</integer>
      <key>jcircumflex</key>
      <integer>0</integer>
      <key>public.kern2.braces</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
      <key>public.kern2.quoteleft</key>
      <integer>0</integer>
      <key>public.kern2.quoteright</key>
      <integer>0</integer>
      <key>public.kern2.straight_left_asc</key>
      <integer>0</integer>
      <key>question</key>
      <integer>0</integer>
      <key>scaron</key>
      <integer>0</integer>
      <key>trademark</key>
      <integer>0</integer>
    </dict>
    <key>three.lf</key>
    <dict>
      <key>less</key>
      <integer>0</integer>
    </dict>
    <key>uogonek</key>
    <dict>
      <key>p</key>
      <integer>0</integer>
      <key>public.kern2.j</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
