<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>be.locl</key>
    <string>be.locl.glif</string>
    <key>breve.cyr</key>
    <string>breve.cyr.glif</string>
    <key>che.bgr</key>
    <string>che.bgr.glif</string>
    <key>en.bgr</key>
    <string>en.bgr.glif</string>
    <key>soft.bgr</key>
    <string>soft.bgr.glif</string>
    <key>ze.bgr</key>
    <string>ze.bgr.glif</string>
  </dict>
</plist>
