<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight.tab</key>
    <string>eight.tab.glif</string>
    <key>five.tab</key>
    <string>five.tab.glif</string>
    <key>kai-tail</key>
    <string>kai-tail.glif</string>
    <key>nine.tab</key>
    <string>nine.tab.glif</string>
    <key>one.tab</key>
    <string>one.tab.glif</string>
    <key>three.tab</key>
    <string>three.tab.glif</string>
    <key>two.tab</key>
    <string>two.tab.glif</string>
    <key>zero.tab</key>
    <string>zero.tab.glif</string>
  </dict>
</plist>
