<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ecircumflexhookabove</key>
    <string>E_circumflexhookabove.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>abrevedotbelow</key>
    <string>abrevedotbelow.glif</string>
    <key>ainvertedbreve</key>
    <string>ainvertedbreve.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>ecircumflexdotbelow</key>
    <string>ecircumflexdotbelow.glif</string>
    <key>einvertedbreve</key>
    <string>einvertedbreve.glif</string>
    <key>idotbelow</key>
    <string>idotbelow.glif</string>
    <key>iinvertedbreve</key>
    <string>iinvertedbreve.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>ocircumflexdotbelow</key>
    <string>ocircumflexdotbelow.glif</string>
    <key>oinvertedbreve</key>
    <string>oinvertedbreve.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rinvertedbreve</key>
    <string>rinvertedbreve.glif</string>
    <key>udotbelow</key>
    <string>udotbelow.glif</string>
    <key>uinvertedbreve</key>
    <string>uinvertedbreve.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>ydotbelow</key>
    <string>ydotbelow.glif</string>
  </dict>
</plist>
