<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abreveacute</key>
    <string>A_breveacute.glif</string>
    <key>Abrevegrave</key>
    <string>A_brevegrave.glif</string>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>Abrevetilde</key>
    <string>A_brevetilde.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif</string>
    <key>Acircumflexgrave</key>
    <string>A_circumflexgrave.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>Ecircumflexacute</key>
    <string>E_circumflexacute.glif</string>
    <key>Ecircumflexgrave</key>
    <string>E_circumflexgrave.glif</string>
    <key>Ecircumflexhookabove</key>
    <string>E_circumflexhookabove.glif</string>
    <key>Ecircumflextilde</key>
    <string>E_circumflextilde.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>Ocircumflexgrave</key>
    <string>O_circumflexgrave.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif</string>
    <key>Odieresismacron</key>
    <string>O_dieresismacron.glif</string>
    <key>Odotaccentmacron</key>
    <string>O_dotaccentmacron.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Otildemacron</key>
    <string>O_tildemacron.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Uhorn</key>
    <string>U_horn.glif</string>
    <key>abreveacute</key>
    <string>abreveacute.glif</string>
    <key>acircumflexacute</key>
    <string>acircumflexacute.glif</string>
    <key>acircumflexgrave</key>
    <string>acircumflexgrave.glif</string>
    <key>acircumflexhookabove</key>
    <string>acircumflexhookabove.glif</string>
    <key>acircumflextilde</key>
    <string>acircumflextilde.glif</string>
    <key>acutecombstack.case</key>
    <string>acutecombstack.case.glif</string>
    <key>aringacute</key>
    <string>aringacute.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif</string>
    <key>engtail</key>
    <string>engtail.glif</string>
    <key>gravecombstack.case</key>
    <string>gravecombstack.case.glif</string>
    <key>horncomb</key>
    <string>horncomb.glif</string>
    <key>horncomb.case</key>
    <string>horncomb.case.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif</string>
    <key>ocircumflexgrave</key>
    <string>ocircumflexgrave.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif</string>
    <key>odieresismacron</key>
    <string>odieresismacron.glif</string>
    <key>odotaccentmacron</key>
    <string>odotaccentmacron.glif</string>
    <key>otildemacron</key>
    <string>otildemacron.glif</string>
  </dict>
</plist>
