<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1568</integer>
    <key>capHeight</key>
    <integer>1500</integer>
    <key>descender</key>
    <integer>-428</integer>
    <key>familyName</key>
    <string>Amstelvar</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>5kX0M0UC7I</string>
        <key>x</key>
        <integer>834</integer>
        <key>y</key>
        <integer>-17</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>CvYZemKuUu</string>
        <key>x</key>
        <integer>1344</integer>
        <key>y</key>
        <integer>1608</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>identifier</key>
        <string>cHods2VRcs</string>
        <key>x</key>
        <integer>1057</integer>
        <key>y</key>
        <integer>1046</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>-11</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>postscriptBlueValues</key>
    <array/>
    <key>postscriptFamilyBlues</key>
    <array/>
    <key>postscriptFamilyOtherBlues</key>
    <array/>
    <key>postscriptOtherBlues</key>
    <array/>
    <key>postscriptStemSnapH</key>
    <array/>
    <key>postscriptStemSnapV</key>
    <array/>
    <key>styleName</key>
    <string>Italic-GRAD500</string>
    <key>unitsPerEm</key>
    <integer>2000</integer>
    <key>versionMajor</key>
    <integer>0</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <integer>1000</integer>
  </dict>
</plist>
