<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>W</key>
		<string>W_.glif</string>
		<key>dollar.rvrn</key>
		<string>dollar.rvrn.glif</string>
		<key>dollar.rvrn2</key>
		<string>dollar.rvrn2.glif</string>
		<key>eight.lc</key>
		<string>eight.lc.glif</string>
		<key>five.lc</key>
		<string>five.lc.glif</string>
		<key>four.lc</key>
		<string>four.lc.glif</string>
		<key>hornU</key>
		<string>hornU_.glif</string>
		<key>horncomb.case</key>
		<string>horncomb.case.glif</string>
		<key>jdotless</key>
		<string>jdotless.glif</string>
		<key>nine.lc</key>
		<string>nine.lc.glif</string>
		<key>one.lc</key>
		<string>one.lc.glif</string>
		<key>seven.lc</key>
		<string>seven.lc.glif</string>
		<key>six.lc</key>
		<string>six.lc.glif</string>
		<key>three.lc</key>
		<string>three.lc.glif</string>
		<key>two.lc</key>
		<string>two.lc.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>zero.lc</key>
		<string>zero.lc.glif</string>
	</dict>
</plist>
