<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CR</key>
	<string>CR_.glif</string>
	<key>DZcaron</key>
	<string>DZcaron_.glif</string>
	<key>Dzcaron</key>
	<string>Dzcaron_.glif</string>
	<key>LJ</key>
	<string>LJ_.glif</string>
	<key>Lj</key>
	<string>Lj_.glif</string>
	<key>NJ</key>
	<string>NJ_.glif</string>
	<key>NULL</key>
	<string>NULL_.glif</string>
	<key>Nj</key>
	<string>Nj_.glif</string>
	<key>Uhungarumlaut</key>
	<string>Uhungarumlaut_.glif</string>
	<key>Uinvertedbreve</key>
	<string>Uinvertedbreve_.glif</string>
	<key>Umacron</key>
	<string>Umacron_.glif</string>
	<key>Uogonek</key>
	<string>Uogonek_.glif</string>
	<key>Uring</key>
	<string>Uring_.glif</string>
	<key>Utilde</key>
	<string>Utilde_.glif</string>
	<key>Wacute</key>
	<string>Wacute_.glif</string>
	<key>Wcircumflex</key>
	<string>Wcircumflex_.glif</string>
	<key>Wdieresis</key>
	<string>Wdieresis_.glif</string>
	<key>Wgrave</key>
	<string>Wgrave_.glif</string>
	<key>Yacute</key>
	<string>Yacute_.glif</string>
	<key>Ycircumflex</key>
	<string>Ycircumflex_.glif</string>
	<key>Ydieresis</key>
	<string>Ydieresis_.glif</string>
	<key>Ydotbelow</key>
	<string>Ydotbelow_.glif</string>
	<key>Ygrave</key>
	<string>Ygrave_.glif</string>
	<key>Yhookabove</key>
	<string>Yhookabove_.glif</string>
	<key>Ymacron</key>
	<string>Ymacron_.glif</string>
	<key>Ytilde</key>
	<string>Ytilde_.glif</string>
	<key>Zacute</key>
	<string>Zacute_.glif</string>
	<key>Zcaron</key>
	<string>Zcaron_.glif</string>
	<key>Zdotaccent</key>
	<string>Zdotaccent_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>aacute</key>
	<string>aacute.glif</string>
	<key>abreve</key>
	<string>abreve.glif</string>
	<key>abreveacute</key>
	<string>abreveacute.glif</string>
	<key>abrevedotbelow</key>
	<string>abrevedotbelow.glif</string>
	<key>abrevegrave</key>
	<string>abrevegrave.glif</string>
	<key>abrevehookabove</key>
	<string>abrevehookabove.glif</string>
	<key>abrevetilde</key>
	<string>abrevetilde.glif</string>
	<key>acircumflex</key>
	<string>acircumflex.glif</string>
	<key>acircumflexacute</key>
	<string>acircumflexacute.glif</string>
	<key>acircumflexdotbelow</key>
	<string>acircumflexdotbelow.glif</string>
	<key>acircumflexgrave</key>
	<string>acircumflexgrave.glif</string>
	<key>acircumflexhookabove</key>
	<string>acircumflexhookabove.glif</string>
	<key>acircumflextilde</key>
	<string>acircumflextilde.glif</string>
	<key>acute</key>
	<string>acute.glif</string>
	<key>adblgrave</key>
	<string>adblgrave.glif</string>
	<key>adieresis</key>
	<string>adieresis.glif</string>
	<key>adotbelow</key>
	<string>adotbelow.glif</string>
	<key>ae</key>
	<string>ae.glif</string>
	<key>aeacute</key>
	<string>aeacute.glif</string>
	<key>agrave</key>
	<string>agrave.glif</string>
	<key>ahookabove</key>
	<string>ahookabove.glif</string>
	<key>ainvertedbreve</key>
	<string>ainvertedbreve.glif</string>
	<key>amacron</key>
	<string>amacron.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aring</key>
	<string>aring.glif</string>
	<key>aringacute</key>
	<string>aringacute.glif</string>
	<key>atilde</key>
	<string>atilde.glif</string>
	<key>b</key>
	<string>b.glif</string>
	<key>bar</key>
	<string>bar.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>braceright</key>
	<string>braceright.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>bracketright</key>
	<string>bracketright.glif</string>
	<key>breve</key>
	<string>breve.glif</string>
	<key>breve_acute</key>
	<string>breve_acute.glif</string>
	<key>breve_grave</key>
	<string>breve_grave.glif</string>
	<key>breve_hookabove</key>
	<string>breve_hookabove.glif</string>
	<key>breve_tilde</key>
	<string>breve_tilde.glif</string>
	<key>brevebelow</key>
	<string>brevebelow.glif</string>
	<key>breveinverted</key>
	<string>breveinverted.glif</string>
	<key>brokenbar</key>
	<string>brokenbar.glif</string>
	<key>c</key>
	<string>c.glif</string>
	<key>cacute</key>
	<string>cacute.glif</string>
	<key>caron</key>
	<string>caron.glif</string>
	<key>caron.alt</key>
	<string>caron.alt.glif</string>
	<key>ccaron</key>
	<string>ccaron.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>ccircumflex</key>
	<string>ccircumflex.glif</string>
	<key>cdotaccent</key>
	<string>cdotaccent.glif</string>
	<key>cedilla</key>
	<string>cedilla.glif</string>
	<key>circumflex</key>
	<string>circumflex.glif</string>
	<key>circumflex_acute</key>
	<string>circumflex_acute.glif</string>
	<key>circumflex_grave</key>
	<string>circumflex_grave.glif</string>
	<key>circumflex_hookabove</key>
	<string>circumflex_hookabove.glif</string>
	<key>circumflex_tilde</key>
	<string>circumflex_tilde.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>commaaccent</key>
	<string>commaaccent.glif</string>
	<key>commaturnedabove</key>
	<string>commaturnedabove.glif</string>
	<key>d</key>
	<string>d.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>dblgrave</key>
	<string>dblgrave.glif</string>
	<key>dcaron</key>
	<string>dcaron.glif</string>
	<key>dcroat</key>
	<string>dcroat.glif</string>
	<key>diagonalbarl</key>
	<string>diagonalbarl.glif</string>
	<key>diagonalbaro</key>
	<string>diagonalbaro.glif</string>
	<key>dieresis</key>
	<string>dieresis.glif</string>
	<key>dieresis_macron</key>
	<string>dieresis_macron.glif</string>
	<key>dieresisbelow</key>
	<string>dieresisbelow.glif</string>
	<key>dotaccent</key>
	<string>dotaccent.glif</string>
	<key>dotaccent_macron</key>
	<string>dotaccent_macron.glif</string>
	<key>dotbelow</key>
	<string>dotbelow.glif</string>
	<key>dzcaron</key>
	<string>dzcaron.glif</string>
	<key>e</key>
	<string>e.glif</string>
	<key>eacute</key>
	<string>eacute.glif</string>
	<key>ebreve</key>
	<string>ebreve.glif</string>
	<key>ecaron</key>
	<string>ecaron.glif</string>
	<key>ecircumflex</key>
	<string>ecircumflex.glif</string>
	<key>ecircumflexacute</key>
	<string>ecircumflexacute.glif</string>
	<key>ecircumflexdotbelow</key>
	<string>ecircumflexdotbelow.glif</string>
	<key>ecircumflexgrave</key>
	<string>ecircumflexgrave.glif</string>
	<key>ecircumflexhookabove</key>
	<string>ecircumflexhookabove.glif</string>
	<key>ecircumflextilde</key>
	<string>ecircumflextilde.glif</string>
	<key>edblgrave</key>
	<string>edblgrave.glif</string>
	<key>edieresis</key>
	<string>edieresis.glif</string>
	<key>edotaccent</key>
	<string>edotaccent.glif</string>
	<key>edotbelow</key>
	<string>edotbelow.glif</string>
	<key>egrave</key>
	<string>egrave.glif</string>
	<key>ehookabove</key>
	<string>ehookabove.glif</string>
	<key>einvertedbreve</key>
	<string>einvertedbreve.glif</string>
	<key>ellipsis</key>
	<string>ellipsis.glif</string>
	<key>emacron</key>
	<string>emacron.glif</string>
	<key>eng</key>
	<string>eng.glif</string>
	<key>engn</key>
	<string>engn.glif</string>
	<key>engtail</key>
	<string>engtail.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>etilde</key>
	<string>etilde.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f_f</key>
	<string>f_f.glif</string>
	<key>f_f_i</key>
	<string>f_f_i.glif</string>
	<key>f_f_l</key>
	<string>f_f_l.glif</string>
	<key>fi</key>
	<string>fi.glif</string>
	<key>fl</key>
	<string>fl.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>gbreve</key>
	<string>gbreve.glif</string>
	<key>gcaron</key>
	<string>gcaron.glif</string>
	<key>gcircumflex</key>
	<string>gcircumflex.glif</string>
	<key>gcommaaccent</key>
	<string>gcommaaccent.glif</string>
	<key>gdotaccent</key>
	<string>gdotaccent.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>grave</key>
	<string>grave.glif</string>
	<key>h</key>
	<string>h.glif</string>
	<key>hbar</key>
	<string>hbar.glif</string>
	<key>hcircumflex</key>
	<string>hcircumflex.glif</string>
	<key>hookabove</key>
	<string>hookabove.glif</string>
	<key>horizontalbar</key>
	<string>horizontalbar.glif</string>
	<key>horizontalbarH</key>
	<string>horizontalbarH_.glif</string>
	<key>horizontalbarlc</key>
	<string>horizontalbarlc.glif</string>
	<key>horn</key>
	<string>horn.glif</string>
	<key>hungarumlaut</key>
	<string>hungarumlaut.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>iacute</key>
	<string>iacute.glif</string>
	<key>ibreve</key>
	<string>ibreve.glif</string>
	<key>icircumflex</key>
	<string>icircumflex.glif</string>
	<key>idblgrave</key>
	<string>idblgrave.glif</string>
	<key>idieresis</key>
	<string>idieresis.glif</string>
	<key>idotaccent</key>
	<string>idotaccent.glif</string>
	<key>idotbelow</key>
	<string>idotbelow.glif</string>
	<key>idotless</key>
	<string>idotless.glif</string>
	<key>igrave</key>
	<string>igrave.glif</string>
	<key>ihookabove</key>
	<string>ihookabove.glif</string>
	<key>iinvertedbreve</key>
	<string>iinvertedbreve.glif</string>
	<key>imacron</key>
	<string>imacron.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>itilde</key>
	<string>itilde.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>jcircumflex</key>
	<string>jcircumflex.glif</string>
	<key>jdotless</key>
	<string>jdotless.glif</string>
	<key>k</key>
	<string>k.glif</string>
	<key>kcommaaccent</key>
	<string>kcommaaccent.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>l</key>
	<string>l.glif</string>
	<key>lacute</key>
	<string>lacute.glif</string>
	<key>lcaron</key>
	<string>lcaron.glif</string>
	<key>lcommaaccent</key>
	<string>lcommaaccent.glif</string>
	<key>ldot</key>
	<string>ldot.glif</string>
	<key>lj</key>
	<string>lj.glif</string>
	<key>lslash</key>
	<string>lslash.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>macron</key>
	<string>macron.glif</string>
	<key>macronbelow</key>
	<string>macronbelow.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nacute</key>
	<string>nacute.glif</string>
	<key>nbspace</key>
	<string>nbspace.glif</string>
	<key>ncaron</key>
	<string>ncaron.glif</string>
	<key>ncommaaccent</key>
	<string>ncommaaccent.glif</string>
	<key>nj</key>
	<string>nj.glif</string>
	<key>ntilde</key>
	<string>ntilde.glif</string>
	<key>o</key>
	<string>o.glif</string>
	<key>oacute</key>
	<string>oacute.glif</string>
	<key>obreve</key>
	<string>obreve.glif</string>
	<key>ocircumflex</key>
	<string>ocircumflex.glif</string>
	<key>ocircumflexacute</key>
	<string>ocircumflexacute.glif</string>
	<key>ocircumflexdotbelow</key>
	<string>ocircumflexdotbelow.glif</string>
	<key>ocircumflexgrave</key>
	<string>ocircumflexgrave.glif</string>
	<key>ocircumflexhookabove</key>
	<string>ocircumflexhookabove.glif</string>
	<key>ocircumflextilde</key>
	<string>ocircumflextilde.glif</string>
	<key>odblgrave</key>
	<string>odblgrave.glif</string>
	<key>odieresis</key>
	<string>odieresis.glif</string>
	<key>odieresismacron</key>
	<string>odieresismacron.glif</string>
	<key>odotaccentmacron</key>
	<string>odotaccentmacron.glif</string>
	<key>odotbelow</key>
	<string>odotbelow.glif</string>
	<key>oe</key>
	<string>oe.glif</string>
	<key>ogonek</key>
	<string>ogonek.glif</string>
	<key>ograve</key>
	<string>ograve.glif</string>
	<key>ohookabove</key>
	<string>ohookabove.glif</string>
	<key>ohorn</key>
	<string>ohorn.glif</string>
	<key>ohorn.copy_1</key>
	<string>ohorn.copy_1.glif</string>
	<key>ohornacute</key>
	<string>ohornacute.glif</string>
	<key>ohornacute.copy_1</key>
	<string>ohornacute.copy_1.glif</string>
	<key>ohorndotbelow</key>
	<string>ohorndotbelow.glif</string>
	<key>ohorndotbelow.copy_1</key>
	<string>ohorndotbelow.copy_1.glif</string>
	<key>ohorngrave</key>
	<string>ohorngrave.glif</string>
	<key>ohorngrave.copy_1</key>
	<string>ohorngrave.copy_1.glif</string>
	<key>ohornhookabove</key>
	<string>ohornhookabove.glif</string>
	<key>ohornhookabove.copy_1</key>
	<string>ohornhookabove.copy_1.glif</string>
	<key>ohorntilde</key>
	<string>ohorntilde.glif</string>
	<key>ohorntilde.copy_1</key>
	<string>ohorntilde.copy_1.glif</string>
	<key>ohungarumlaut</key>
	<string>ohungarumlaut.glif</string>
	<key>oinvertedbreve</key>
	<string>oinvertedbreve.glif</string>
	<key>omacron</key>
	<string>omacron.glif</string>
	<key>oogonek</key>
	<string>oogonek.glif</string>
	<key>oslash</key>
	<string>oslash.glif</string>
	<key>oslashacute</key>
	<string>oslashacute.glif</string>
	<key>otilde</key>
	<string>otilde.glif</string>
	<key>otildemacron</key>
	<string>otildemacron.glif</string>
	<key>p</key>
	<string>p.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>parenright</key>
	<string>parenright.glif</string>
	<key>q</key>
	<string>q.glif</string>
	<key>quotedblbase</key>
	<string>quotedblbase.glif</string>
	<key>quotesinglbase</key>
	<string>quotesinglbase.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>racute</key>
	<string>racute.glif</string>
	<key>rcaron</key>
	<string>rcaron.glif</string>
	<key>rcommaaccent</key>
	<string>rcommaaccent.glif</string>
	<key>rdblgrave</key>
	<string>rdblgrave.glif</string>
	<key>ring</key>
	<string>ring.glif</string>
	<key>ring_acute</key>
	<string>ring_acute.glif</string>
	<key>rinvertedbreve</key>
	<string>rinvertedbreve.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>sacute</key>
	<string>sacute.glif</string>
	<key>scaron</key>
	<string>scaron.glif</string>
	<key>scedilla</key>
	<string>scedilla.glif</string>
	<key>schwa</key>
	<string>schwa.glif</string>
	<key>scircumflex</key>
	<string>scircumflex.glif</string>
	<key>scommaaccent</key>
	<string>scommaaccent.glif</string>
	<key>section</key>
	<string>section.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>space</key>
	<string>space.glif</string>
	<key>strokeshort</key>
	<string>strokeshort.glif</string>
	<key>t</key>
	<string>t.glif</string>
	<key>tbar</key>
	<string>tbar.glif</string>
	<key>tcaron</key>
	<string>tcaron.glif</string>
	<key>tcedilla</key>
	<string>tcedilla.glif</string>
	<key>tcommaaccent</key>
	<string>tcommaaccent.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tilde_macron</key>
	<string>tilde_macron.glif</string>
	<key>u</key>
	<string>u.glif</string>
	<key>uacute</key>
	<string>uacute.glif</string>
	<key>ubreve</key>
	<string>ubreve.glif</string>
	<key>ucircumflex</key>
	<string>ucircumflex.glif</string>
	<key>udblgrave</key>
	<string>udblgrave.glif</string>
	<key>udieresis</key>
	<string>udieresis.glif</string>
	<key>udotbelow</key>
	<string>udotbelow.glif</string>
	<key>ugrave</key>
	<string>ugrave.glif</string>
	<key>uhookabove</key>
	<string>uhookabove.glif</string>
	<key>uhorn</key>
	<string>uhorn.glif</string>
	<key>uhornacute</key>
	<string>uhornacute.glif</string>
	<key>uhorndotbelow</key>
	<string>uhorndotbelow.glif</string>
	<key>uhorngrave</key>
	<string>uhorngrave.glif</string>
	<key>uhornhookabove</key>
	<string>uhornhookabove.glif</string>
	<key>uhorntilde</key>
	<string>uhorntilde.glif</string>
	<key>uhungarumlaut</key>
	<string>uhungarumlaut.glif</string>
	<key>uinvertedbreve</key>
	<string>uinvertedbreve.glif</string>
	<key>umacron</key>
	<string>umacron.glif</string>
	<key>uogonek</key>
	<string>uogonek.glif</string>
	<key>uring</key>
	<string>uring.glif</string>
	<key>utilde</key>
	<string>utilde.glif</string>
	<key>v</key>
	<string>v.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>wacute</key>
	<string>wacute.glif</string>
	<key>wcircumflex</key>
	<string>wcircumflex.glif</string>
	<key>wdieresis</key>
	<string>wdieresis.glif</string>
	<key>wgrave</key>
	<string>wgrave.glif</string>
	<key>x</key>
	<string>x.glif</string>
	<key>y</key>
	<string>y.glif</string>
	<key>yacute</key>
	<string>yacute.glif</string>
	<key>ycircumflex</key>
	<string>ycircumflex.glif</string>
	<key>ydieresis</key>
	<string>ydieresis.glif</string>
	<key>ydotbelow</key>
	<string>ydotbelow.glif</string>
	<key>ygrave</key>
	<string>ygrave.glif</string>
	<key>yhookabove</key>
	<string>yhookabove.glif</string>
	<key>ymacron</key>
	<string>ymacron.glif</string>
	<key>ytilde</key>
	<string>ytilde.glif</string>
	<key>z</key>
	<string>z.glif</string>
	<key>zacute</key>
	<string>zacute.glif</string>
	<key>zcaron</key>
	<string>zcaron.glif</string>
	<key>zdotaccent</key>
	<string>zdotaccent.glif</string>
</dict>
</plist>
