<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Alpha</key>
    <string>A_lpha.glif</string>
    <key>Alphatonos</key>
    <string>A_lphatonos.glif</string>
    <key>Beta</key>
    <string>B_eta.glif</string>
    <key>Chi</key>
    <string>C_hi.glif</string>
    <key>Delta</key>
    <string>D_elta.glif</string>
    <key>Epsilon</key>
    <string>E_psilon.glif</string>
    <key>Epsilontonos</key>
    <string>E_psilontonos.glif</string>
    <key>Eta</key>
    <string>E_ta.glif</string>
    <key>Etatonos</key>
    <string>E_tatonos.glif</string>
    <key>Gamma</key>
    <string>G_amma.glif</string>
    <key>Iota</key>
    <string>I_ota.glif</string>
    <key>Iotadieresis</key>
    <string>I_otadieresis.glif</string>
    <key>Iotatonos</key>
    <string>I_otatonos.glif</string>
    <key>Kaisymbol</key>
    <string>K_aisymbol.glif</string>
    <key>Kappa</key>
    <string>K_appa.glif</string>
    <key>Lambda</key>
    <string>L_ambda.glif</string>
    <key>Mu</key>
    <string>M_u.glif</string>
    <key>Nu</key>
    <string>N_u.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Omegatonos</key>
    <string>O_megatonos.glif</string>
    <key>Omicron</key>
    <string>O_micron.glif</string>
    <key>Omicrontonos</key>
    <string>O_microntonos.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Pi</key>
    <string>P_i.glif</string>
    <key>Psi</key>
    <string>P_si.glif</string>
    <key>Rho</key>
    <string>R_ho.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Tau</key>
    <string>T_au.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>Upsilon</key>
    <string>U_psilon.glif</string>
    <key>Upsilondieresis</key>
    <string>U_psilondieresis.glif</string>
    <key>Upsilontonos</key>
    <string>U_psilontonos.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>Zeta</key>
    <string>Z_eta.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>alphatonos</key>
    <string>alphatonos.glif</string>
    <key>anoteleia</key>
    <string>anoteleia.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>dieresistonos</key>
    <string>dieresistonos.glif</string>
    <key>dieresistonoscomb</key>
    <string>dieresistonoscomb.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>epsilontonos</key>
    <string>epsilontonos.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>etatonos</key>
    <string>etatonos.glif</string>
    <key>finalsigma</key>
    <string>finalsigma.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>gr:question</key>
    <string>gr_question.glif</string>
    <key>increment</key>
    <string>increment.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>iotadieresis</key>
    <string>iotadieresis.glif</string>
    <key>iotadieresistonos</key>
    <string>iotadieresistonos.glif</string>
    <key>iotatonos</key>
    <string>iotatonos.glif</string>
    <key>kaisymbol</key>
    <string>kaisymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lownumeralsign</key>
    <string>lownumeralsign.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>numeralsign</key>
    <string>numeralsign.glif</string>
    <key>ohm</key>
    <string>ohm.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>omegatonos</key>
    <string>omegatonos.glif</string>
    <key>omicron</key>
    <string>omicron.glif</string>
    <key>omicrontonos</key>
    <string>omicrontonos.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>tonos.case</key>
    <string>tonos.case.glif</string>
    <key>tonoscomb</key>
    <string>tonoscomb.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>upsilondieresis</key>
    <string>upsilondieresis.glif</string>
    <key>upsilondieresistonos</key>
    <string>upsilondieresistonos.glif</string>
    <key>upsilontonos</key>
    <string>upsilontonos.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
  </dict>
</plist>
