<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>eight.lc</key>
    <string>eight.lc.glif</string>
    <key>five.lc</key>
    <string>five.lc.glif</string>
    <key>four.lc</key>
    <string>four.lc.glif</string>
    <key>nine.lc</key>
    <string>nine.lc.glif</string>
    <key>seven.lc</key>
    <string>seven.lc.glif</string>
    <key>three.lc</key>
    <string>three.lc.glif</string>
    <key>two.lc</key>
    <string>two.lc.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>zero.lc</key>
    <string>zero.lc.glif</string>
  </dict>
</plist>
