<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>acircumflexgrave</key>
    <string>acircumflexgrave.glif</string>
    <key>adotbelow</key>
    <string>adotbelow.glif</string>
    <key>ahookabove</key>
    <string>ahookabove.glif</string>
    <key>ainvertedbreve</key>
    <string>ainvertedbreve.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>edblgrave</key>
    <string>edblgrave.glif</string>
    <key>ehookabove</key>
    <string>ehookabove.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>einvertedbreve</key>
    <string>einvertedbreve.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>idblgrave</key>
    <string>idblgrave.glif</string>
    <key>idotbelow</key>
    <string>idotbelow.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ihookabove</key>
    <string>ihookabove.glif</string>
    <key>iinvertedbreve</key>
    <string>iinvertedbreve.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>odblgrave</key>
    <string>odblgrave.glif</string>
    <key>odotbelow</key>
    <string>odotbelow.glif</string>
    <key>ohookabove</key>
    <string>ohookabove.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>oinvertedbreve</key>
    <string>oinvertedbreve.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>rdblgrave</key>
    <string>rdblgrave.glif</string>
    <key>rinvertedbreve</key>
    <string>rinvertedbreve.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>udblgrave</key>
    <string>udblgrave.glif</string>
    <key>udotbelow</key>
    <string>udotbelow.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhornhookabove</key>
    <string>uhornhookabove.glif</string>
    <key>uinvertedbreve</key>
    <string>uinvertedbreve.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ydotbelow</key>
    <string>ydotbelow.glif</string>
    <key>yhookabove</key>
    <string>yhookabove.glif</string>
    <key>z</key>
    <string>z.glif</string>
  </dict>
</plist>
