<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Abreveacute</key>
    <string>A_breveacute.glif</string>
    <key>Abrevehookabove</key>
    <string>A_brevehookabove.glif</string>
    <key>Acircumflexacute</key>
    <string>A_circumflexacute.glif</string>
    <key>Acircumflexhookabove</key>
    <string>A_circumflexhookabove.glif</string>
    <key>Acircumflextilde</key>
    <string>A_circumflextilde.glif</string>
    <key>Aringacute</key>
    <string>A_ringacute.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>Dzcaron</key>
    <string>D_zcaron.glif</string>
    <key>Ecircumflexhookabove</key>
    <string>E_circumflexhookabove.glif</string>
    <key>Ecircumflextilde</key>
    <string>E_circumflextilde.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Germandbls</key>
    <string>G_ermandbls.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>Iacute_J.loclNLD</key>
    <string>I_acute_J_.loclN_L_D_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Ocircumflexacute</key>
    <string>O_circumflexacute.glif</string>
    <key>Ocircumflexhookabove</key>
    <string>O_circumflexhookabove.glif</string>
    <key>Ocircumflextilde</key>
    <string>O_circumflextilde.glif</string>
    <key>Odieresismacron</key>
    <string>O_dieresismacron.glif</string>
    <key>Odotaccentmacron</key>
    <string>O_dotaccentmacron.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Otildemacron</key>
    <string>O_tildemacron.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>abreveacute</key>
    <string>abreveacute.glif</string>
    <key>abrevedotbelow</key>
    <string>abrevedotbelow.glif</string>
    <key>abrevegrave</key>
    <string>abrevegrave.glif</string>
    <key>abrevehookabove</key>
    <string>abrevehookabove.glif</string>
    <key>abrevetilde</key>
    <string>abrevetilde.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>acircumflexacute</key>
    <string>acircumflexacute.glif</string>
    <key>acircumflexgrave</key>
    <string>acircumflexgrave.glif</string>
    <key>acircumflexhookabove</key>
    <string>acircumflexhookabove.glif</string>
    <key>acircumflextilde</key>
    <string>acircumflextilde.glif</string>
    <key>acutecombstack.case</key>
    <string>acutecombstack.case.glif</string>
    <key>adblgrave</key>
    <string>adblgrave.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>adotbelow</key>
    <string>adotbelow.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>ahookabove</key>
    <string>ahookabove.glif</string>
    <key>ainvertedbreve</key>
    <string>ainvertedbreve.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>aringacute</key>
    <string>aringacute.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>ccircumflex</key>
    <string>ccircumflex.glif</string>
    <key>cdotaccent</key>
    <string>cdotaccent.glif</string>
    <key>circumflexcombstack.case</key>
    <string>circumflexcombstack.case.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>commaaccentcomb</key>
    <string>commaaccentcomb.glif</string>
    <key>commercialMinusSign</key>
    <string>commercialM_inusS_ign.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>diagonalbarO</key>
    <string>diagonalbarO_.glif</string>
    <key>diagonalbarl</key>
    <string>diagonalbarl.glif</string>
    <key>diagonalbaro</key>
    <string>diagonalbaro.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>doubleprimemod</key>
    <string>doubleprimemod.glif</string>
    <key>dzcaron</key>
    <string>dzcaron.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ebreve</key>
    <string>ebreve.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>ecircumflexacute</key>
    <string>ecircumflexacute.glif</string>
    <key>ecircumflexdotbelow</key>
    <string>ecircumflexdotbelow.glif</string>
    <key>ecircumflexgrave</key>
    <string>ecircumflexgrave.glif</string>
    <key>ecircumflexhookabove</key>
    <string>ecircumflexhookabove.glif</string>
    <key>ecircumflextilde</key>
    <string>ecircumflextilde.glif</string>
    <key>edblgrave</key>
    <string>edblgrave.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>ehookabove</key>
    <string>ehookabove.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>einvertedbreve</key>
    <string>einvertedbreve.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>engn</key>
    <string>engn.glif</string>
    <key>engtail</key>
    <string>engtail.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>etilde</key>
    <string>etilde.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f_f</key>
    <string>f_f.glif</string>
    <key>f_f_i</key>
    <string>f_f_i.glif</string>
    <key>f_f_l</key>
    <string>f_f_l.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>gcaron</key>
    <string>gcaron.glif</string>
    <key>gcircumflex</key>
    <string>gcircumflex.glif</string>
    <key>gdotaccent</key>
    <string>gdotaccent.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>gravecombstack.case</key>
    <string>gravecombstack.case.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hcircumflex</key>
    <string>hcircumflex.glif</string>
    <key>hookabovecombstack.case</key>
    <string>hookabovecombstack.case.glif</string>
    <key>horizontalbar</key>
    <string>horizontalbar.glif</string>
    <key>horizontalbarH</key>
    <string>horizontalbarH_.glif</string>
    <key>hornU</key>
    <string>hornU_.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>iacute_j.loclNLD</key>
    <string>iacute_j.loclN_L_D_.glif</string>
    <key>ibreve</key>
    <string>ibreve.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idblgrave</key>
    <string>idblgrave.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>idotaccent</key>
    <string>idotaccent.glif</string>
    <key>idotbelow</key>
    <string>idotbelow.glif</string>
    <key>idotless</key>
    <string>idotless.glif</string>
    <key>ihookabove</key>
    <string>ihookabove.glif</string>
    <key>iinvertedbreve</key>
    <string>iinvertedbreve.glif</string>
    <key>ijacute</key>
    <string>ijacute.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>itilde</key>
    <string>itilde.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>jcircumflex</key>
    <string>jcircumflex.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>kcommaaccent</key>
    <string>kcommaaccent.glif</string>
    <key>kgreenlandic</key>
    <string>kgreenlandic.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>lcommaaccent</key>
    <string>lcommaaccent.glif</string>
    <key>ldot</key>
    <string>ldot.glif</string>
    <key>leftanglebracket</key>
    <string>leftanglebracket.glif</string>
    <key>lira</key>
    <string>lira.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>macronbelowcomb.case</key>
    <string>macronbelowcomb.case.glif</string>
    <key>micro</key>
    <string>micro.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>ncommaaccent</key>
    <string>ncommaaccent.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numero</key>
    <string>numero.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>obreve</key>
    <string>obreve.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>ocircumflexacute</key>
    <string>ocircumflexacute.glif</string>
    <key>ocircumflexdotbelow</key>
    <string>ocircumflexdotbelow.glif</string>
    <key>ocircumflexgrave</key>
    <string>ocircumflexgrave.glif</string>
    <key>ocircumflexhookabove</key>
    <string>ocircumflexhookabove.glif</string>
    <key>ocircumflextilde</key>
    <string>ocircumflextilde.glif</string>
    <key>odblgrave</key>
    <string>odblgrave.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>odieresismacron</key>
    <string>odieresismacron.glif</string>
    <key>odotaccentmacron</key>
    <string>odotaccentmacron.glif</string>
    <key>odotbelow</key>
    <string>odotbelow.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>ohookabove</key>
    <string>ohookabove.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>ohornacute</key>
    <string>ohornacute.glif</string>
    <key>ohorngrave</key>
    <string>ohorngrave.glif</string>
    <key>ohorntilde</key>
    <string>ohorntilde.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>oinvertedbreve</key>
    <string>oinvertedbreve.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>oogonek</key>
    <string>oogonek.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>oslashacute</key>
    <string>oslashacute.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>otildemacron</key>
    <string>otildemacron.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>periodcentered.loclCAT</key>
    <string>periodcentered.loclC_A_T_.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>rcommaaccent</key>
    <string>rcommaaccent.glif</string>
    <key>rdblgrave</key>
    <string>rdblgrave.glif</string>
    <key>rightanglebracket</key>
    <string>rightanglebracket.glif</string>
    <key>rinvertedbreve</key>
    <string>rinvertedbreve.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>scedilla</key>
    <string>scedilla.glif</string>
    <key>scircumflex</key>
    <string>scircumflex.glif</string>
    <key>second</key>
    <string>second.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>tildecombstack.case</key>
    <string>tildecombstack.case.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ubreve</key>
    <string>ubreve.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udblgrave</key>
    <string>udblgrave.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>udotbelow</key>
    <string>udotbelow.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>uhornacute</key>
    <string>uhornacute.glif</string>
    <key>uhorngrave</key>
    <string>uhorngrave.glif</string>
    <key>uhornhookabove</key>
    <string>uhornhookabove.glif</string>
    <key>uhorntilde</key>
    <string>uhorntilde.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>uinvertedbreve</key>
    <string>uinvertedbreve.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>utilde</key>
    <string>utilde.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>wacute</key>
    <string>wacute.glif</string>
    <key>wcircumflex</key>
    <string>wcircumflex.glif</string>
    <key>wdieresis</key>
    <string>wdieresis.glif</string>
    <key>wgrave</key>
    <string>wgrave.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>ycircumflex</key>
    <string>ycircumflex.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>ydotbelow</key>
    <string>ydotbelow.glif</string>
    <key>ygrave</key>
    <string>ygrave.glif</string>
    <key>yhookabove</key>
    <string>yhookabove.glif</string>
    <key>ymacron</key>
    <string>ymacron.glif</string>
    <key>ytilde</key>
    <string>ytilde.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
  </dict>
</plist>
